{% extends "pinax/blog/blog_base.html" %}
{% load static %}
{% block body_class %}blog blog-post{% endblock %}

{% block title %}{{ post.title }} | Tech Hire{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <meta name="twitter:card" content="summary">
    {% comment %}
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
    {% endcomment %}
    <meta property="og:title" content="{{ post.title }}">
    {% if post.description %}
        <meta name="description" content="{{ post.description }}">
        <meta property="og:description" content="{{ post.description }}">
    {% else %}
        <meta name="description" content="{{ post.teaser_html|striptags }}">
        <meta property="og:description" content="{{ post.teaser_html|striptags }}">
    {% endif %}
    {% if post.primary_image %}
        <meta property="og:image" content="http://{{ SITE_DOMAIN }}{{ post.primary_image.image_path.url }}">
    {% else %}
        {% comment %}
        <meta property="og:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
        {% endcomment %}
    {% endif %}
    <meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ post.get_absolute_url }}">
    <meta property="og:type" content="article">
    <link rel="stylesheet" href="https://emailoctopus.com/bundles/emailoctopuslist/css/formEmbed.css?1542118937">
{% endblock %}

{% block content %}
    <div class="post-detail card">
        <div class="post card-body">
            <h1>{{ post.title }}</h1>
            {% include "pinax/blog/dateline_stale.html" %}

            <div class="teaser">{{ post.teaser_html|safe }}</div>

            <div>{{ post.content_html|safe }}</div>

            <div class="twitter-button">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>

<div class="modal" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Абонирай се за Нови Постове</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post"
                  action="https://emailoctopus.com/lists/5c7b28fa-e7cb-11e8-a3c9-06b79b628af2/members/embedded/1.3/add"
                  class=""
                  data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
                >
                    <div class="email-octopus-form-row">
                        <input type="hidden" name="successRedirectUrl" value="">
                        <input id="field_0" name="field_0" type="email" class="form-control" placeholder="Email">
                        <button type="submit" class="btn btn-action btn-landing">Subscribe</button>
                    </div>

                    <div class="email-octopus-form-row-hp d-none" aria-hidden="true">
                        <!-- Do not remove this field, otherwise you risk bot sign-ups -->
                        <input type="text" name="hp5c7b28fa-e7cb-11e8-a3c9-06b79b628af2"
                           tabindex="-1"
                           autocomplete="nope">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="{% static 'jobboard/js/blog.min.js' %}"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/formEmbed.js?1542118937"></script>
{% endblock %}
