{% extends "pinax/blog/blog_base.html" %}

{% block head_title_base %}{{ SITE_NAME }}{% endblock %}


{% block content %}
    {% if post_list %}
        <div class="post-list">
            {% for post in post_list %}
                <div class="post card">
                    <div class="card-body">
                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                    {% include "pinax/blog/dateline.html" %}
                    <div class="teaser">{{ post.teaser_html|safe }}</div>
                    <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "pinax/blog/_pagination.html" %}
    {% else %}
        <p class="alert alert-info lead">No blog posts have been published.</p>
    {% endif %}
{% endblock %}
