{% extends "jobboard/base.html" %}

{% block content %}
    {% if post_list %}
        <div class="post-list">
            {% for post in post_list %}
                <div class="post card">
                    <div class="card-body">
                    <a href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>
                    <p>{{post.timestamp}} by {{post.author}}</p>
                     <a href="{{ post.get_absolute_url }}"><div class="teaser"><div class="teaser">{{ post.intro|safe }}</div></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-info lead">No blog posts have been published.</p>
    {% endif %}
{% endblock %}
