{% extends "jobboard/base.html" %}
{% load static %}
{% block title %}{{ blog.title }} {% endblock %}

{% block content %}
    <div class="post-detail card">
        <div class="post card-body">
            <h1>{{ blog.title }}</h1>
            <p>{{blog.timestamp}} by {{blog.author}}</p>
            <div class="teaser">{{ blog.intro|safe }}</div>
        </div>
    </div>
    {% include "jobboard/listing.html" with jobs=job_1 %}

        <div class="post-detail card">
        <div class="post card-body">
            <div>{{ blog.content|safe }}</div>
                        <div class="twitter-button">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
        </div>
    {% include "jobboard/listing.html" with jobs=job_2 %}

<div class="modal" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Абонирай се за Нови Постове</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post"
                  action="https://emailoctopus.com/lists/5c7b28fa-e7cb-11e8-a3c9-06b79b628af2/members/embedded/1.3/add"
                  class=""
                  data-sitekey="6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6"
                >
                    <div class="email-octopus-form-row">
                        <input type="hidden" name="successRedirectUrl" value="">
                        <input id="field_0" name="field_0" type="email" class="form-control" placeholder="Email">
                        <button type="submit" class="btn btn-action btn-landing">Subscribe</button>
                    </div>

                    <div class="email-octopus-form-row-hp d-none" aria-hidden="true">
                        <!-- Do not remove this field, otherwise you risk bot sign-ups -->
                        <input type="text" name="hp5c7b28fa-e7cb-11e8-a3c9-06b79b628af2"
                           tabindex="-1"
                           autocomplete="nope">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="{% static 'jobboard/js/blog.min.js' %}"></script>
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/1.3/formEmbed.js?1542118937"></script>
{% endblock %}