{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h3 class="page-title">{% trans "Log In" %}</h3>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="/accounts/registration/">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-center">{% blocktrans %}If you have not created an account yet, then please
<a href="/accounts/registration/">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="card small-card">
    <div class="card-body text-center login-card-body">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{form.non_field_errors}}
      {{form.source.errors}}
      {{form.source}}
      <div class="form-group">
        {{form.login.errors}}
        {{form.login}}
      </div>
      <div class="form-group">
          {{form.password.errors}}
          {{form.password}}
      </div>
      <div class="form-group">
          {{form.remember.label}}
          {{form.remember}}
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div>
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
      <div class="mt-3">
      <button class="primaryAction btn btn-action" type="submit">{% trans "Sign In" %}</button>
      </div>
    </form>
</div>
</div>
{% endblock %}