{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<h3 class="page-title">{% trans "Log Out" %}</h3>


<div class="card small-card">
    <div class="card-body text-center">
        <p>{% trans 'Are you sure you want to log out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="btn btn-primary">{% trans 'Log Out' %}</button>
        </form>
    </div>
</div>



{% endblock %}