{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="page-title">{% trans "Change Password" %}</h1>

<div class="card small-card">
    <div class="card-body text-center">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
          {{form.non_field_errors}}
          {{form.source.errors}}
          {{form.source}}
        <div class="form-group">
        {{form.oldpassword.errors}}
        {{form.oldpassword}}
        </div>
        <div class="form-group">
        {{form.password1.errors}}
        {{form.password1}}
        </div>
        <div class="form-group">
        {{form.password2.errors}}
        {{form.password2}}
        </div>
        <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
        </form>
    </div>
</div>

{% endblock %}