{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h3 class="page-title">{% trans "Change Password" %}</h3>

    <div class="card small-card">
        <div class="card-body text-center">
        <p>{% blocktrans %}Your password is now changed.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}