{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1 class="page-title">{% trans "Password Reset" %}</h1>

<div class="card small-card">
    <div class="card-body text-center">
        <h4>{% trans "Forgotten your password?" %}</h4>
        <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        <div class="form-group">
        {{ form.email.errors }}
        {{ form.email }}
        </div>
        <div class="form-group">
        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}"/>
        </div>
        </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}