{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h3 class="page-title">{% trans "Verify Your E-mail Address" %}</h1>

<div class="card small-card">
    <div class="card-body text-center">
    <p>{% blocktrans %}We have sent you a verification email.</p>
    <p> Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
</div>

{% endblock %}
