{% extends 'base.html' %}

{% block content %}

<h3 class="page-title">Account Details</h3>

<h3>{{message}}</h3>
{% load crispy_forms_tags %}
<div class="card small-card">
<div class="card-body">
{% crispy form %}
</div>
</div>
{% endblock %}