{% extends 'base.html' %}

{% block content %}
<h1 class="page-title">Talent Profile</h1>

{% load crispy_forms_tags %}
{% if form.errors %}
<div class="card">
     <div class="card-body">
          {{form.non_field_errors}}
        {%for key,value in form.errors.items%}<h5>{{value}}</h5>{% endfor%}
 </div>
</div>
{% endif %}

<div class="card">
    <div class="card-body">
    {% crispy form %}
    </div>
</div>
{% endblock %}