{% extends 'base.html' %}

{% block content %}
<h1 class="page-title">Apply</h1>
{% if not applied %}
{% load crispy_forms_tags %}
{% if errors %}
<div class="card">
     <div class="card-body">
          {{form.non_field_errors}}
         <h5>{{errors}}</h5>
 </div>
</div>
{% endif %}
<div class="card">
    <div class="card-body">
    {% crispy form %}
    </div>
</div>
{% else %}
 <div class="card">
    <div class="card-body">
    <p> You have applied for {{jobpost.title}} at {{jobpost.company}} on {{application.created_date}}!</p>
    </div>
</div>
{% endif %}
{% endblock %}