{% extends 'base.html' %}

{% block content %}
<h1 class="page-title">Talent Profile</h1>
{% if owner %}
    <a href="{% url 'applicant-update' id=applicant.id %}">
        <p class="text-center">Update Profile</p>
    </a>
{% endif %}
<div class="card">
    <div class="card-body">
        <div class="applicant-name">{{applicant.full_name|title}}</div>
        <div class="applicant-role text-center">{{applicant.role}}</div>
        <div class="row text-center">
            <div class="col-sm">
                <i class="fa fa-envelope fa-1" aria-hidden="true"></i>
                {{applicant.user.email}}
            </div>
            <div class="col-sm">
                {% if applicant.phone %}<i class="fa fa-phone fa-1" aria-hidden="true"></i>{{applicant.phone}}{% endif %}
            </div>
            <div class="col-sm">
                <i class="fa fa-map-marker fa-1" aria-hidden="true"></i>
                {{applicant.location}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2 text-bold">Experience</div>
            <div class="col-sm-10">{% if applicant.experience %}{{applicant.experience}} years {% endif %}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2 text-bold">Other Roles</div>
            {% if applicant.roles %}
            <div class="col-sm-10">{{applicant.roles|join:", "}}</div>
            {% endif %}
        </div>
        <hr>
        {% if applicant.skills %}
        <div class="row">
            <div class="col-sm-2 text-bold">Skills</div>
            <div class="col-sm-10">{% for s in applicant.skills.names %}<div class="active-filter">{{s}}</div>{% endfor %}</div>
        </div>
        <hr>
        {% endif %}
        {% if applicant.resume %}
            <div class="row text-center">
            <div class="col-sm">
            <a href="{{applicant.resume.url}}" Download><button class="btn btn-action"> Download Resume</button></a>
            </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}