{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% trans "Job Title" as Job_Title %}

<h3 class="page-title">My Applications</h3>

<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">
<div class="app-table">
    <div class="row app-row header">
     <div class="cell"> Job Title</div>
     <div class="cell"> Company</div>
     <div class="cell"> Salary</div>
     <div class="cell"> Application Date</div>
     <div class="cell"> Interview Date</div>
    </div>
{% for app in applications %}
  <div class="row app-row">
    <div class="cell" data-title="Job Title">{{app.job_post.title}}</div>
    <div class="cell" data-title="Company">
    <a href="{% url 'company-home' app.job_post.company.slug %}">{{app.job_post.company}}</a></div>
    <div class="cell" data-title="Salary">{{app.job_post.min_salary}}-{{app.job_post.max_salary}}{{app.job_post.currency}}</div>
    <div class="cell" data-title="Application Date">{{app.created_date}}</div>
    <div class="cell" data-title="Interview Date">{{app.interview_date}}</div>
  </div>
{% endfor %}
    </div>
    </div>
</div>
</div>

{% endblock %}