<!DOCTYPE html>
<html lang="en">
<head>
  <title> {% block title %}Tech Hire | The Best Technical Jobs and Candidates in One Place{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="google-site-verification" content="FpQDXNsVMhDlwWVCnMnmIaTBKCe8kbnTwUPBnzTWPhk" />
  {% load i18n template_filters %}
  <meta name="description" content="{{description}}"/>
  <meta name="keywords" content="{{keywords}}"/>
  {% load static %}
  {% load cookielaw_tags %}


<!--Favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'jobboard/images/apple-icon-57x57.png'%}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'jobboard/images/apple-icon-60x60.png'%}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'jobboard/images/apple-icon-72x72.png'%}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'jobboard/images/apple-icon-76x76.png'%}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'jobboard/images/apple-icon-114x114.png'%}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'jobboard/images/apple-icon-120x120.png'%}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'jobboard/images/apple-icon-144x144.png'%}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'jobboard/images/apple-icon-152x152.png'%}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'jobboard/images/apple-icon-180x180.png'%}">
<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'jobboard/images/android-icon-192x192.png'%}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'jobboard/images/favicon-32x32.png'%}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'jobboard/images/favicon-96x96.png'%}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'jobboard/images/favicon-16x16.png'%}">
<link rel="manifest" href="{% static 'jobboard/images/manifest.json' %}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{% static 'jobboard/images/ms-icon-144x144.png'%}">
<meta name="theme-color" content="#ffffff">


  <!-- facebook meta tags for sharing -->
  <meta property="og:locale" content="bg_BG" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="https://techhire.bg{{ request.path }}"/>
  <meta property="og:site_name" content="TechHire.bg"/>
  <meta property="og:image" content="{% static 'jobboard/images/share-image.jpg' %}"/>
  <meta property="fb:app_id" content="225224964937588"/>
  <!-- twitter metatags -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:description" content="{{description}}"/>
  <meta name="twitter:title" content="{{page_title}}"/>
  <meta name="twitter:site" content="@TechHireBG"/>
  <meta name="twitter:domain" content="Tech Hire"/>
  <meta name="twitter:image" content="{% static 'jobboard/images/share-image.jpg' %}" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'jobboard/css/main1243.min.css' %}" type="text/css"/>
  {% if slider %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.css">
  {% endif %}
  {% if datepicker %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css">
  {% endif %}
  {% if multiple %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  {% endif %}
  {% if css %}
  <link rel="stylesheet" href="{{css}}" type="text/css"/>
  {% endif %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500&amp;subset=cyrillic" rel="stylesheet">
</head>


<body class="d-flex flex-column">
<div class="wrapper">
  <nav class="navbar navbar-expand-md navbar-default">
   <div class="navbar-container justify-content-between">
    <a href="/"><img src="{% static 'jobboard/images/THLogo.svg' %}" alt="" class="navbar-logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    {% if user.is_authenticated and user.company %}
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
    {% else %}
    <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
      <ul class="navbar-nav mx-auto text-center d-none d-md-block">
        <form action='{% url 'jobs' %}' method='GET' class="form-inline">
            <input type="text" class="form-control" name='q' placeholder="Job Title or Skill" id='nav-search'>
            <button type="submit" class="btn btn-action" id="navSearchButton">Search</button>
        </form>
      </ul>
    {%endif%}
      <ul class="nav navbar-nav">
        {% if user.is_authenticated %}
          {% if user.applicant %}
           <li class="nav-item"><a class="nav-link" href="{% url 'jobs' %}">Jobs</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'applicant-offers' user.applicant.id%}">Offers</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'salary-check' user.applicant.id %}">Salary Check</a></li>

           <li class="nav-item dropdown d-none d-md-block">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.first_name}}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'account-update' user.id %}">Account</a>
              <a class="dropdown-item" href="{% url 'applicant-home' user.applicant.id %}">Profile</a>
              <a class="dropdown-item" href="{% url 'applicant-update' user.applicant.id %}">Update Profile</a>
              <a class="dropdown-item" href="{% url 'company-list' %}">Companies</a>
              <a class="dropdown-item" href="{% url 'applicant-applications' user.applicant.id %}">My Applications</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
            </div>
           </li>

           <div class="dropdown-divider d-block d-md-none"></div>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'account-update' user.id %}">Account</a></li>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'applicant-home' user.applicant.id %}">Profile</a></li>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'applicant-update' user.applicant.id %}">Update Profile</a></li>
           <li class="nav-item d-block d-md-none">
              <a class="nav-link" href="{% url 'company-list' %}">Companies</a></li>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'applicant-applications' user.applicant.id %}">My Applications</a></li>
            <div class="dropdown-divider d-block d-md-none"></div>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>

          {% elif user.company %}
           <li class="nav-item"><a class="nav-link" href="{% url 'new-job' user.company.slug%}">New Job</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'talent-search' %}">Talent Search</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'company-offers' user.company.slug%}">Offers</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'company-dashboard' user.company.slug %}">Dashboard</a></li>
           <li class="nav-item d-block d-md-none"><a class="nav-link" href="{% url 'jobs' %}">Jobs</a></li>

           <li class="nav-item dropdown d-none d-md-block">
           <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.company.name}}</a>
           <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'account-update' user.id %}">Account</a>
            <a class="dropdown-item" href="{% url 'company-home' user.company.slug %}">Company Page</a>
            <a class="dropdown-item" href="{% url 'company-update' user.company.slug %}">Edit Company Page</a>
            <a class="dropdown-item" href="{% url 'buy-credits' user.company.slug %}">Purchase Credits</a>
            <a class="dropdown-item" href="{% url 'jobs' %}">Jobs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
           </div>
           </li>

           <div class="dropdown-divider d-block d-md-none"></div>
           <li class="nav-item d-block d-md-none">
           <a class="nav-link" href="{% url 'account-update' user.id %}">Account</a></li>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'company-home' user.company.slug %}">Company Page</a></li>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'buy-credits' user.company.slug %}">Purchase Credits</a></li>
            <div class="dropdown-divider d-block d-md-none"></div>
           <li class="nav-item d-block d-md-none">
            <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a></li>
          {% endif %}

          {% else %}
           <li class ="nav-item"><a class="nav-link" href="{% url 'jobs' %}">Jobs</a></li>
           <li class ="nav-item"><a class="nav-link" href="{% url 'company-list' %}">Companies</a></li>
           <div class="dropdown-divider d-block d-md-none"></div>
           <li class ="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Log In</a></li>
           <li class ="nav-item"><a class="nav-link" href="{% url 'registration' %}">Registration</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
   </div>
  </nav>

 <div class="container content">
  {% block content %}
  {% endblock %}
  </div>
</div>

{% cookielaw_banner %}

<footer class="footer">
    <div class="footer-roof">
      <a href="{% url 'blog:blog' %}" class="footer-link">Blog</a>
      <a href="{% url 'help' %}" class="footer-link">Help</a>
      <a href="{% url 'prices' %}" class="footer-link">Prices</a>
      <a href="{% url 'terms' %}" class="footer-link">Terms and Conditions</a>
      <a href="{% url 'privacy' %}" class="footer-link">Privacy</a>
    </div>
        <div class="footer-social">
      <a href="https://www.facebook.com/Tech-Hire-225224964937588" target="_blank"><i class="fa fa-facebook footer-fa fa-lg" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Tech_hire" target="_blank"><i class="fa fa-twitter footer-fa fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/tech-hire/" target="_blank"><i class="fa fa-linkedin footer-fa fa-lg" aria-hidden="true"></i></a>
      </div>
  <div class="footer-text">
    Tech Hire &copy; 2018
  </div>
</footer>
<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '329685057583596');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=329685057583596&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<!-- Linkedin Tag Pixel Code -->

<script type="text/javascript">
_linkedin_partner_id = "525697";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
{% if linked_event %}
  <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=525697&conversionId=635337&fmt=gif" />
{% else %}
  <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=525697&fmt=gif" />
{% endif %}
</noscript>
<!-- Linkedin Tag Pixel Code -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% if listjs %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
{% endif %}
{% if datepicker %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
{% endif %}
{% if multiple %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.full.min.js"></script>
{% endif %}
{% if chart %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script type="text/javascript"> var salaryData = {{graph}};</script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
{% if slider %}
<script src="https://unpkg.com/wnumb@1.1.0"></script>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.js"></script>
{% endif %}
{% if js %}
<script src="{% static js %}"></script>
{% endif %}
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-121446625-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</body>
</html>