{% extends 'base.html' %}

{% block content %}

<div class="company-hero">
    {% if company.background %}
    <div class="company-background" style="background-image: url({{company.background.url}});">
    </div>
    {% else %}
    <div class="company-background">
    </div>
    {% endif %}
    <div class="company-info">
        {% if company.logo %}
        <div class="company-logo-wrapper">
            <img src="{{company.logo.url}}" alt="{{company.name}} logo">
        </div>
        {% endif %}
        <h1 class="company-page-title">{{company.name}}</h1>
        <div class="row">
        <div class="col-sm-4">
            <i class="fa fa-external-link fa-1" aria-hidden="true"></i>
            <a href="{{company.website}}">
            Website</a>
            </div>
            <div class="col-sm-4">
            <i class="fa fa-users fa-1" aria-hidden="true"></i>
            {% if company.team_size %}
            {{company.team_size}}
            {% endif %}
            </div>
            <div class="col-sm-4">
            <i class="fa fa-map-marker fa-1" aria-hidden="true"></i>
            <a href="https://www.google.com/maps/search/?api=1&amp;query={{company.address}}+{{company.city}}">
            {{company.address}} {{company.city}}
            </a>
        </div>
    </div>
    {% if company.skills.names %}
    <h5 class="text-center mt-4">Technologies</h5>
    <div class="row">
        <div class="col-sm-12">
        {% for b in company.skills.names %}
        <div class="benefit tag">{{b}}</div>
        {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if company.benefits %}
    <h5 class="text-center mt-4">Benefits</h5>
    <div class="row">
        <div class="col-sm-12">
        {% for b in company.benefits %}
        <div class="benefit tag">{{b}}</div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    </div>
</div>
{% if company.description %}
<div class="card">
    <div class="card-body">
        {{company.description|safe }}
    </div>
</div>
{% endif %}
{% if jobs %}
<h3 class="text-center">Jobs at {{company.name |title}}</h3>
{% include "listing.html" with jobs=jobs %}
{% endif %}

<div class="subscribe-form card">
    <div class="card-body">
    {% if message %}<p>{{message}}</p>{% endif %}
    {% load crispy_forms_tags %}
    <label for="id_email" class="form-control-label">Subscribe for Job Alerts</label>
    {% crispy form %}
    </div>
</div>
{% endblock %}