{% extends 'base.html' %}

{% block content %}
{% load static %}
<h3 class="page-title">Credits</h3>
    <div class="row">
        <div class="col-sm-6">
        <div class="card">
            <div class="card-header credits-card">
                My Credits <div class="price-position">{{company.credits}}</div>
            </div>
            <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">Job Listing <div class="price-position">1 Credit</div></li>
                <li class="list-group-item">Featured Listing <div class="price-position">2 Credits</div></li>
                <li class="list-group-item">Boost a Listing <div class="price-position">0.5 Credit</div></li>
            </ul>
            <div class="row mt-3">
                <div class="col-2"><img src="{% static 'jobboard/images/calendar.svg' %}" class="pricing-img mx-auto"></div>
                <div class="col-10 mt-1">All jobs are active for thirty days.
            </div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><img src="{% static 'jobboard/images/premium.svg' %}" class="pricing-img mx-auto"></div>
                <div class="col-10">Featured jobs appear before other jobs and are marked with a featured label.</div>
            </div>
            <div class="row mt-2">
                <div class="col-2"><img src="{% static 'jobboard/images/up-arrow.svg' %}" class="pricing-img mx-auto"></div>
                <div class="col-10">Boosting a job changes its posted date to today so it moves ahead of older jobs.</div>
            </div>
            </div>
        </div>
        </div>
        <div class="col-sm-6">
        <div class="card">
            <div class="card-header credits-prices">Credits Prices &amp; Deals</div>
            <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">1 Credit <div class="price-position">50 lv.</li>
                <li class="list-group-item">10 Credits -10% <div class="price-position">450 lv.</li>
                <li class="list-group-item">25 Credits -15%<div class="price-position">1060 lv.</li>
                <li class="list-group-item">50 Credits -20%<div class="price-position">2000 lv.</li>
                <li class="list-group-item">100 Credits -25%<div class="price-position">3750 lv.</li>
                <li class="list-group-item">For payment by bank transfer, large orders or invoices email us at sales@techhire.bg</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
<div class="card purchase-card">
    <div class="card-body text-center">
        <h3 class="page-title"> Purchase</h3>
        <div>
        <p>Credits</p>
        <form method="POST" id="CreditsForm">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Select" class="btn btn-primary" id='credits-select'/>
        </form>
        </div>
        <div class="hidden text-center" id="pricingSegment">
            <p>Price</p>
            <p class="price-box"></p>
        <form action="https://www.epay.bg/" method="POST" id="PaymentForm">
            <input type="hidden" name="PAGE" value="credit_paydirect">
            <input type="hidden" name="ENCODED" value="" id="encoded">
            <input type="hidden" name="CHECKSUM" value="" id="checksum">
            <input type="hidden" name="URL_OK" value="https://{{request.get_host}}{% url 'company-dashboard' slug %}">
            <input type="hidden" name="URL_CANCEL" value="https://{{request.get_host}}{% url 'buy-credits' slug %}">
        <button class="btn btn-action" id="PaymentButton">Purchase</button>
        </form>
        </div>
    </div>
</div>


{% endblock %}