{% extends 'base.html' %}

{% block title %} {{page_title}} {%endblock%}

{% block content %}
<div class="card small-card">
<div class="card-body text-center">
    <h1>Company Search</h1>
    <form action="" method="get" accept-charset="utf-8">
    <div class="form-row">
    <div class="col-sm-5 mt11">
    <input type="text" class="form-control company-search" name="name__icontains" id="id_name__icontains" placeholder="Name">
    </div>
    <div class="col-sm-5 mt11">
    <input type="text" class="form-control company-search" name="city__icontains" id="id_city__icontains" placeholder="City">
    </div>
    <div class="col-sm-2 mt11">
    <input type="submit" value="Search" class="btn btn-primary">
    </div>
    </div>
    </form>
        <a href="{% url 'company-list' %}">
        <button class="btn btn-action mt11"> All Companies</button>
    </a>
</div>
</div>

{% for company in filter.qs %}
<div class="card">
    <div class="job-card">
    <a href="{% url 'company-home' company.slug %}" target="_blank">
        <div>
            {% if company.logo %}
              <div class="listing-logo">
                <img src="{{ company.logo.url }}" alt="{{company.name}} logo"/>
              </div>
            {% endif %}
            <div class="listing-title">{{company.name|capfirst}}</div>
            <div class="listing-info row">
            <div class="col-sm-4">
                <i class="fa fa-external-link fa-1" aria-hidden="true"></i>
                <a href="{{company.website}}">
                Website</a>
            </div>
            <div class="col-sm-4">
                {% if company.team_size %}
                <i class="fa fa-users fa-1" aria-hidden="true"></i>
                {{company.team_size}}
                {% endif %}
            </div>
            <div class="col-sm-4">
                <i class="fa fa-map-marker fa-1" aria-hidden="true"></i>
                <a href="https://www.google.com/maps/search/?api=1&amp;query={{company.address}}+{{company.city}}">
                {{company.address}} {{company.city}}
                </a>
            </div>
            </div>
            <div class="listing-desc">
                {{company.description| truncatewords:50 |safe}}
            </div>
    </div>
    </a>
</div>
</div>
{% endfor %}
{% endblock %}