{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h3 class="page-title">Update Company</h3>

<div class="card">
    <div class="card-body">
     {% crispy form %}
    </div>
</div>
{% endblock %}