{% extends 'base.html' %}

{% block content %}

<h3 class="page-title">Company Registration</h3>

<div class="card small-card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
            <p class="underline">Step 1</p>
            <p>Create Account</p>
            </div>
            <div class="col-sm-6">
            <p>Step 2</p>
            <p>Complete Company Profile</p>
            </div>
        </div>
    </div>
</div>

{% load crispy_forms_tags %}
<div class="card">
    <div class="card-body">
        {% crispy form %}
    </div>
</div>
{% endblock %}