{% extends 'base.html' %}
{% block content %}

<div class="row">
<div class="col-sm-6">
<div class="card">
 <div class="card-body">
    {{jobpost.title| title}}
    <a href="{% url 'jobpost-update' slug jobpost.id %}"><p>Edit Job</p></a>
    <div class="row">
        <div class="col-6 col-lg-3 text-center">
            <span>Applicants</span> <div>{{applications|length}}</div></div>
        <div class="col-6 col-lg-3 text-center">
            <div>Interviews</div> <div>{{interviews|length}}</div></div>
        <div class="col-6 col-lg-3 text-center">
            <div>Offer</div> <div>{{offers|length}}</div></div>
        <div class="col-6 col-lg-3 text-center">
            <div>Hired</div><div>{{hired|length}}</div></div>
    </div>
 </div>
</div>
</div>
<div class="col-sm-6">
<div class="search-box">
    <div class="search-query">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <input class="form-control jobsSearch" placeholder="Search &amp; Filter Applicants" id="search-field">
    </div>
    <div class="row">
    <div class="col-6 text-center">
    <form method="GET" id="rejectedForm">
        <input type="hidden" name="rejected" value="true">
    </form>
    <button type="submit" form="rejectedForm" class="btn btn-outline-primary">Show Rejected</button>
    </div>
    <div class="col-6 text-center">
    <form method="GET" id="interviewForm">
        <input type="hidden" name="status" value="Interview">
    </form>
    <button type="submit" form="interviewForm" class="btn btn-outline-primary">Show Interviews</button>
    </div>
</div>
</form>
</div>

</div>
</div>

<div class="limiter" id="appList">
<div class="container-table100">
<div class="wrap-table100">
<table class="app-table">
    <thead>
    <tr class="row app-row header">
        <th class="cell sort" data-sort="name">Name</th>
        <th class="cell">Email</th>
        <th class="cell d-none d-md-block mt11">Phone</th>
        <th class="cell">CV</th>
        <th class="cell sort" data-sort="application_date" style="white-space: pre-line;">Application
        Date</th>
        <th class="cell sort" data-sort="status">Status</th>
        <th class="cell sort d-none d-lg-block mt11" data-sort="rating">Rating</th>
        <th class="cell sort hidden" data-sort="comment">Comment</th>
        <th class="cell sort" style="white-space: pre-line;" data-sort="interview_date">Interview
        Date</th>
        <th class="cell">Actions</th>
    </tr>
    </thead>
    <tbody class="list">
    {% for app in applications %}
    <tr class="row app-row" id="application{{app.id}}">
        <td class="cell name" data-title="Name">{{app.applicant.user.first_name|title}} {{app.applicant.user.last_name|title}}</td>
        <td class="cell" data-title="Email">{{app.applicant.user.email}}</td>
        <td class="cell d-none d-md-block mt11" data-title="Phone">{{app.applicant.phone}}</td>
        <td class="cell" data-title="CV"><a href="{{app.resume.url}}" Download> Download CV</a></td>
        <td class="cell application_date" data-title="Application Date">{{app.created_date|date:"d.m.Y" }}</td>
        <td class="cell status" data-title="Status">{{app.status}}</td>
        <td class="cell rating d-none d-lg-block" data-title="Rating" data-value="{{app.aplicant_rating}}">{{app.get_applicant_rating_display}}</td>
        <td class="cell hidden" data-title="Comment">{{app.comment}}</td>
        <td class="cell interview_date" data-title="Interview Date">{{app.interview_date|date:"d.m.Y"}}</td>
        <td class="cell" data-title="Actions"><button type="button" data-toggle="modal" data-target="#applicantModal" data-app-id="{{app.id}}" data-cv="{{app.applicant.resume.url}}" class="btn btn-primary open-app">Open</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>

<div class="modal fade" id="applicantModal" tabindex="-1" role="dialog" aria-labelledby="applicantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="applicantModalLabel">Application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-6">
                <label class="form-control-label" for="id_name">Name</label>
                <p id="id_name"></p>
            </div>
            <div class="col-sm-6">
                <label class="form-control-label" for="id_email">Email</label>
                <p id="id_email"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label class="form-control-label" for="id_phone">Phone</label>
                <p id="id_phone"></p>
            </div>
            <div class="col-sm-4">
                <label class="form-control-label" for="id_cv">CV</label>
                <p><a href="" id="id_cv" Download> Download CV</a></p>
            </div>
            <div class="col-sm-4">
                <label class="form-control-label" for="id_application_date">Application Date</label>
                <p id="id_application_date"></p>
            </div>
        </div>
        <hr>
        {% load crispy_forms_tags %}
        {% crispy form %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="saveApplication" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}