{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-sm-4">
      <div class="dashboard-card">
        <div class="dashboard-card-head bg-main"><a style='color:white;' href="{% url 'company-home' company.slug %}">{{company}}</a></div>
        <div class="dashboard-content">
            Active Jobs</div>
        <div class="dashboard-content">
            {{active | length}}</div>
        <div class="dashboard-button">
            <a href="{% url 'new-job' company.slug %}"><button class="btn btn-primary btn-add-job"><i class="fa fa-plus" aria-hidden="true"></i> New Job</button></a></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dashboard-card">
            <div class="dashboard-card-head bg-main">Credits</div>
            <div class="dashboard-content"></div>
            <div class="dashboard-content" id="dashboardCredits">
                {% if company.credits %}
                <span>{{company.credits}}</span>
                {% else %}
                <span>0</span>
                {% endif %}
            </div>
            <div class="dashboard-button">
            <a href="{% url 'buy-credits' company.slug %}"><button class="btn btn-purchase">Purchase Credits</button></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="dashboard-card">
            <div class="dashboard-card-head bg-main">Filter Jobs</div>
            <form action="" method="get">
            <div class="dashboard-content">
                <label for="dash_filter">Title</label>
                <input type="text" name='dash_filter' class="form-control" value="{% if filter%}{{filter}}{%endif%}"/>
            </div>
            </form>
        </div>
    </div>
</div>
{% for job in jobposts %}
{% if forloop.first %} <div class="row"> {% endif %}
<div class="col-md-6">
    <div class="card dashboard-job">
        {% if job in active %}
        <div class="card-header active">Active</div>
        {% else %}
        <div class="card-header inactive">Expired</div>
        {% endif %}
     <div class="card-body">
        <div class="row">
            <div class="col-sm-7 dashboard-job-title">
            <a href="{% url 'company-jobpost' company.slug job.id %}">
                {{job.title}}
            </a></div>
            <div class="col-sm-5">
            {% with apps=job.applications.count %}
                {{apps}} Application{{apps|pluralize}}
            {% endwith %}
            </div>
        </a>
        </div>
            <a href="{% url 'job' job.id job.slug %}"> View Job</a>
     </div>
     <div class="card-body">
        <div class="row">
            <a href="{% url 'jobpost-update' company.slug job.id %}"><button class="btn btn-outline-gray btn-dash">Edit</button></a>
        {% if not job.boosted %}
            <form action="{% url 'jobpost-boost' company.slug job.id %}" class="boostForm" data-job-id="{{job.id}}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{user.id}}" name="user_id">
            <button class="btn btn-outline-primary btn-dash" id="boostJob{{job.id}}">Boost</button></form>
        {% endif %}
            <form action="{% url 'jobpost-repost' company.slug job.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-outline-action btn-dash">Repost</button>
            </form>
        </div>
      </div>
    </div>
</div>
{% if forloop.counter|divisibleby:2 %}</div><div class="row">{% endif %}
{% if forloop.last %}</div>{% endif %}
{% endfor %}

{% endblock %}