{% extends 'base.html' %}

{% block content %}

<h3 class="page-title">Help</h3>

<div class="card">
    <div class="card-body">
        <div class="list-group">
        <div class="list-group-item flex-column align-items-start">
        <h5>What does Tech Hire do?</h5>
        <p>We are a hiring platform focussing on the technology and startup industries. Our goal is to connect exciting companies with the best candidates and make the recruitment experience easier and more pleasant for both.</p>
        </div>
        <div class="list-group-item flex-column align-items-start">
        <h5>What jobs can you find?</h5>
        <p>On Tech Hire you can find a wide variety of roles from developer positions to marketing, customer support to designer jobs. You can easily search through all our jobs by roles you are interested in, your skills, experience and more. We worked hard to make it very simple to find the most suitable roles and not waste time going over irrelevant jobs.</p>
        </div>
        <div class="list-group-item flex-column align-items-start">
        <h5>What is an applicant profile?</h5>
        <p>Creating an applicant profile allows you to specify your skills, qualifications and the roles you are interested in. The  information allows us to send you relevant job recommendations and match you with recruiter searches. Your profile is not public and only visible to registered recruiters, if you allow that.</p>
        </div>
        <div class="list-group-item flex-column align-items-start">
        <h5>How can I be recruited for a new job?</h5>
        <p>Create a profile with a current CV and complete your applicant profile. Make sure to select the Actively Looking option, which makes your profile visible to recruiters.</p>
        </div>
        <div class="list-group-item flex-column align-items-start">
        <h5>I do not want to be contacted by recruiters. What should I do?</h5>
        <p>You can unselect the Actively Looking option from your profile page. Your profile will no longer appear in recruiter searches until you select the option again.</p>
        </div>
        <div class="list-group-item flex-column align-items-start">
        <h5>Need to contact us?</h5>
        <p>Send us an email to mail@techhire.bg</p>
        </div>
        </div>
    </div>
</div>


{% endblock %}