<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %} {{page_title}} {% endblock %}</title>
  {% load static %}
  <meta name="description" content="{{description}}"/>
  <meta name="keywords" content="{{keywords}}"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="FpQDXNsVMhDlwWVCnMnmIaTBKCe8kbnTwUPBnzTWPhk" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<!--Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'jobboard/images/apple-icon-57x57.png'%}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'jobboard/images/apple-icon-60x60.png'%}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'jobboard/images/apple-icon-72x72.png'%}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'jobboard/images/apple-icon-76x76.png'%}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'jobboard/images/apple-icon-114x114.png'%}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'jobboard/images/apple-icon-120x120.png'%}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'jobboard/images/apple-icon-144x144.png'%}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'jobboard/images/apple-icon-152x152.png'%}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'jobboard/images/apple-icon-180x180.png'%}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'jobboard/images/android-icon-192x192.png'%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'jobboard/images/favicon-32x32.png'%}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'jobboard/images/favicon-96x96.png'%}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'jobboard/images/favicon-16x16.png'%}">
  <link rel="manifest" href="{% static 'jobboard/images/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'jobboard/images/ms-icon-144x144.png'%}">
  <meta name="theme-color" content="#ffffff">

  <!-- facebook meta tags for sharing -->
  <meta property="og:locale" content="bg_BG" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="https://techhire.bg{{ request.path }}"/>
  <meta property="og:site_name" content="TechHire.bg"/>
  <meta property="og:image" content="{% static 'jobboard/images/share-image.jpg' %}"/>
  <meta property="fb:app_id" content="225224964937588"/>
  <!-- twitter metatags -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:description" content="{{description}}"/>
  <meta name="twitter:title" content="{{page_title}}"/>
  <meta name="twitter:site" content="@TechHireBG"/>
  <meta name="twitter:domain" content="Tech Hire"/>
  <meta name="twitter:image" content="{% static 'jobboard/images/share-image.jpg' %}" />
  <meta name="twitter:creator" content="@TechHireBG"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  {% load cookielaw_tags %}
  <link rel="stylesheet" href="{% static 'jobboard/css/main1243.min.css' %}" type="text/css"/>
  <link rel="stylesheet" href="{% static 'jobboard/css/landing1236.min.css' %}" type="text/css" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,500&amp;subset=cyrillic" rel="stylesheet">
</head>

<body>
<div id="headerSection">
  <nav class="landing-nav" >
   <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       <a class="navbar-brand mt25" href="/" title="Tech Hire Home Page"><img src="{% static 'jobboard/images/THLogo.svg' %}" class="navbar-logo" alt="Tech Hire Logo"></a>
      </div>
    <div id="navbar" class="navbar-collapse collapse">
     {% if user.is_authenticated %}
        {% if user.applicant %}
          <div class="hidden-xs">
            <ul id="top-menu" class="nav navbar-nav pull-right">
            <li><a href="{% url 'jobs' %}">Jobs</a></li>
            <li><a href="{% url 'applicant-offers' user.applicant.id%}">Offers</a></li>
            <li><a href="{% url 'salary-check' user.applicant.id %}">Salary Check</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.first_name}} <span class="caret"></span></a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="nav-dropdown-item" href="{% url 'account-update' user.id %}">Account</a>
                <a class="nav-dropdown-item" href="{% url 'applicant-home' user.applicant.id %}">Profile</a>
                <a class="nav-dropdown-item" href="{% url 'applicant-update' user.applicant.id %}">Update Profile</a>
                <a class="nav-dropdown-item" href="{% url 'applicant-applications' user.applicant.id %}">My Applications</a>
                <a class="nav-dropdown-item" href="{% url 'company-list' %}">Companies</a>
                <a class="nav-dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
              </div>
            </li>
            </ul>
          </div>

          <div class="hidden-lg hidden-md hidden-sm">
            <ul id="top-menu" class="nav navbar-nav text-center">
            <li><a href="{% url 'jobs' %}">Jobs</a></li>
            <li><a href="{% url 'applicant-offers' user.applicant.id%}">Offers</a></li>
            <li><a href="{% url 'salary-check' user.applicant.id %}">Salary Check</a></li>
            <li><a href="{% url 'account-update' user.id %}">Account</a></li>
            <li><a href="{% url 'applicant-home' user.applicant.id %}">Profile</a></li>
            <li><a href="{% url 'applicant-update' user.applicant.id %}">Update Profile</a></li>
            <li><a href="{% url 'applicant-applications' user.applicant.id %}">My Applications</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            </ul>
          </div>

        {% elif user.company %}
          <div class="hidden-xs">
            <ul id="top-menu" class="nav navbar-nav pull-right">
            <li><a href="{% url 'new-job' user.company.slug%}">New Job</a></li>
            <li><a href="{% url 'talent-search' %}">Talent Search</a></li>
            <li><a href="{% url 'company-offers' user.company.slug%}">Offers</a></li>
            <li><a href="{% url 'company-dashboard' user.company.slug %}">Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.company.name}} <span class="caret"></span></a>
              <div class="dropdown-menu dropdown-menu-right">
              <a class="nav-dropdown-item" href="{% url 'account-update' user.id %}">Account</a>
              <a class="nav-dropdown-item" href="{% url 'company-home' user.company.slug %}">Company Page</a>
              <a class="nav-dropdown-item" href="{% url 'company-update' user.company.slug %}">Edit Company Page</a>
              <a class="nav-dropdown-item" href="{% url 'buy-credits' user.company.slug %}">Purchase Credits</a>
              <a class="nav-dropdown-item" href="{% url 'jobs' %}">Jobs</a>
              <a class="nav-dropdown-item" href="{% url 'account_logout' %}">Log Out</a>
              </div>
            </li>
            </ul>
          </div>

          <div class="hidden-lg hidden-md hidden-sm">
            <ul id="top-menu" class="nav navbar-nav text-center">
            <li><a href="{% url 'new-job' user.company.slug%}">New Job</a></li>
            <li><a href="{% url 'talent-search' %}">Talent Search</a></li>
            <li><a href="{% url 'company-offers' user.company.slug%}">Offers</a></li>
            <li><a href="{% url 'company-dashboard' user.company.slug %}">Dashboard</a></li>
            <li><a href="{% url 'account-update' user.id %}">Account</a></li>
            <li><a href="{% url 'company-home' user.company.slug %}">Company Page</a></li>
            <li><a href="{% url 'buy-credits' user.company.slug %}">Purchase Credits</a></li>
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            </ul>
          </div>
        {% endif %}

      {% else %}
      <div class="hidden-xs">
        <ul id="top-menu" class="nav navbar-nav pull-right">
        <li><a href="{% url 'jobs' %}">Jobs</a></li>
        <li><a href="{% url 'company-list' %}">Companies</a></li>
        <li><a href="{% url 'account_login' %}">Log In</a></li>
        <li><a class="landing-border" href="{% url 'registration' %}">Registration</a></li>
        </ul>
      </div>

      <div class="hidden-lg hidden-md hidden-sm">
        <ul id="top-menu" class="nav navbar-nav text-center">
        <li><a href="{% url 'jobs' %}">Jobs</a></li>
        <li><a href="{% url 'company-list' %}">Companies</a></li>
        <li><a href="{% url 'account_login' %}">Log In</a></li>
        <li><a href="{% url 'registration' %}">Registration</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
   </div>
  </nav>

  <div class="container" >
    <div class="text-center mt125">
      <h1 class="landing-title">The Best Technical Jobs and Candidates in One Place!</h1>
        <form method="GET" action="" class="form-inline">
          <div class="landing-search-block">
            <div class="landing-search">
              <i class="fa fa-search fa-lg" aria-hidden="true"></i>
              <input type="text" name="q" class="linput" placeholder="Job Title or Skill" id="searchField">
              <button type="submit" class="btn btn-primary btn-search hidden-xs" name="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>

<div class="landing-content">
<div class="grid">
  {% for job in jobs %}
    <div class="grid-item">
      <div class="card thumbnail recommendation">
        <div class="caption">
        <a href="{% url 'job' job.pk job.slug %}">
        <div class="recommendation-title">{{job.title|truncatechars:22}}</div>
          <div class="job-detail">
          <i class="fa fa-building list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.company|truncatechars:25}}</span></div>
          <div class="job-detail"><i class="fa fa-briefcase list-fa fa-lg" aria-hidden="true"></i><span>{{job.job_type}}</span>
          </div>
          <div class="job-detail">
            <i class="fa fa-map-marker list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.location|truncatechars:25}}</span></div>
           <div class="job-detail">
            <i class="fa fa-calendar list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.publish_date|date}}</span>
           </div>

          {% if job.min_salary or job.max_salary %}
           <div class="listing-salary">
            <span class="">{{job.min_salary}} - {{job.max_salary}} {{job.currency}}</span>
            </div>
          {% endif %}
        </a>
      </div>
      </div>
    </div>
  {% endfor %}
 {% if user.is_authenticated %}
  {% if user.applicant %}
    <div class="grid-item">
      <a href="{% url 'applicant-offers' user.applicant.id%}">
      <div class="card link-card thumbnail"><p class="card-title">Offers</p>
        <img src="{% static 'jobboard/images/job.svg' %}" class="landing-logo" alt="Salary Icon"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'salary-check' user.applicant.pk %}">
      <div class="card link-card thumbnail action-card"><p class="card-title">Salary Check</p>
        <img src="{% static 'jobboard/images/salary.svg' %}" class="landing-logo" alt="Salary Icon"></div></a>
    </div>
        <div class="grid-item">
      <a href="{% url 'applicant-home' user.applicant.pk %}">
      <div class="card link-card thumbnail green-card"><p class="card-title">My Profile</p>
        <img src="{% static 'jobboard/images/curriculum.svg' %}" class="landing-logo" alt=" Candidate Profile Image"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'applicant-applications' user.applicant.pk %}">
      <div class="card link-card thumbnail"><p class="card-title">My Applications</p>
        <img src="{% static 'jobboard/images/email.svg' %}" class="landing-logo" alt="Applications Inbox Image"></div></a>
    </div>
  {% elif user.company %}
    <div class="grid-item">
      <a href="{% url 'talent-search' %}">
      <div class="card link-card thumbnail green-card"><p class="card-title">Talent Search</p>
        <img src="{% static 'jobboard/images/human-resources.svg' %}" class="landing-logo" alt="Post a Job Image"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'new-job' user.company.slug %}">
      <div class="card link-card thumbnail action-card"><p class="card-title">Post a New Job</p>
        <img src="{% static 'jobboard/images/megaphone.svg' %}" class="landing-logo" alt="Post a Job Image"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'company-dashboard' user.company.slug %}">
      <div class="card link-card thumbnail green-card"><p class="card-title">Company Dashboard</p><img src="{% static 'jobboard/images/code.svg' %}" class="landing-logo"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'company-offers' user.company.slug%}">
      <div class="card link-card thumbnail"><p class="card-title">Offers</p>
        <img src="{% static 'jobboard/images/job.svg' %}" class="landing-logo" alt="Salary Icon"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'company-home' user.company.slug %}">
      <div class="card link-card thumbnail"><p class="card-title">Company Careers Page</p>
        <img src="{% static 'jobboard/images/resume.svg' %}" class="landing-logo" alt="Company Page Image"></div></a>
    </div>
  {% endif %}
 {% else %}
    <div class="grid-item grid-item--width2">
      <a href="{% url 'user-signup' %}">
      <div class="card link-card thumbnail action-card"><p class="card-title">Candidate Sign Up</p><img src="{% static 'jobboard/images/note.svg' %}" class="landing-logo" alt="Applicant Sign Up Image"></div></a>
    </div>
    <div class="grid-item grid-item--width2">
      <a href="{% url 'register-company' %}">
      <div class="card link-card thumbnail"><p class="card-title">Register Company</p>
        <img src="{% static 'jobboard/images/resume.svg' %}" class="landing-logo" alt="Register Company Image"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'landing-salary-check' %}">
      <div class="card link-card thumbnail action-card"><p class="card-title">Salary Check</p>
        <img src="{% static 'jobboard/images/salary.svg' %}" class="landing-logo" alt="Salary Icon"></div></a>
    </div>
 {% endif %}
    <div class="grid-item">
      <a href="{% url 'jobs' %}">
      <div class="card link-card thumbnail" id="query"><p class="card-title">All Jobs</p>
        <img src="{% static 'jobboard/images/briefcase.svg' %}" class="landing-logo" alt="Jobs Image"></div></a>
    </div>
    <div class="grid-item">
      <a href="{% url 'jobs'%}?q=Developer">
      <div class="card link-card thumbnail green-card"><p class="card-title">Developer Positions</p></div></a>
    </div>
    <div class="grid-item">
        <a href="{% url 'jobs' %}?roles=Technical Support">
        <div class="card link-card thumbnail"><p class="card-title">Tech Support Roles</p>
          <img src="{% static 'jobboard/images/headphones.svg' %}" class="landing-logo" alt="Tech Support Image"></div></a>
    </div>
    {% if recent_blogs %}
    <div class="grid-item grid-item--width2">
      <a href="{{recent_blogs.0.sharable_url}}" title="{{recent_blogs.0.title}}">
      <div class="card link-card thumbnail"><p class="card-title">{{recent_blogs.0.title|truncatechars:100}}</p>
      <span class="hidden-xs">{{recent_blogs.0.teaser_html|safe|truncatechars:260}}</span></div></a>
    </div>
    {% endif %}
    <div class="grid-item grid-item--width2">
      <a href="{% url 'jobs' %}?location=Sofia">
      <div class="card large-card link-card thumbnail" id="locationCard"><p class="card-title">Jobs in Sofia</p></div></a>
    </div>
    <div class="grid-item">
        <a href="{% url 'jobs' %}?experience=Intern">
        <div class="card link-card thumbnail green-card"><p class="card-title">Find Internships</p></div></a>
    </div>
    {% if recent_blogs.1 %}
    <div class="grid-item">
      <a href="{{recent_blogs.1.sharable_url}}" title="{{recent_blogs.1.title}}">
      <div class="card link-card thumbnail"><p class="card-title">{{recent_blogs.1.title|truncatechars:82}}</p>
      <span class="hidden-xs">{{recent_blogs.1.teaser_html|safe|truncatechars:70}}</span></div></a>
    </div>
    {% endif %}
    <div class="grid-item">
        <a href="{% url 'company-list' %}">
        <div class="card link-card thumbnail"><p class="card-title">Companies</p>
          <img src="{% static 'jobboard/images/skyline.svg' %}" class="landing-logo" alt="Companies Image"></div>
    </div>
    {% if recent_blogs.2 %}
    <div class="grid-item">
      <a href="{{recent_blogs.2.sharable_url}}" title="{{recent_blogs.2.title}}">
      <div class="card link-card thumbnail"><p class="card-title">{{recent_blogs.2.title|truncatechars:82}}</p>
      <span class="hidden-xs">{{recent_blogs.2.teaser_html|safe|truncatechars:70}}</span></div></a>
    </div>
    {% endif %}
  </div>
</div>
</div>

{% cookielaw_banner %}

<footer class="footer-tail">
    <div class="footer-roof">
      <a href="{% url 'blog:blog' %}" class="footer-link">Blog</a>
      <a href="{% url 'help' %}" class="footer-link">Help</a>
      <a href="{% url 'prices' %}" class="footer-link">Prices</a>
      <a href="{% url 'terms' %}" class="footer-link">Terms and Conditions</a>
      <a href="{% url 'privacy' %}" class="footer-link">Privacy</a>
    </div>
  <div class="footer-social">
      <a href="https://www.facebook.com/Tech-Hire-225224964937588" target="_blank"><i class="fa fa-facebook footer-fa fa-lg" aria-hidden="true"></i></a>
      <a href="https://twitter.com/Tech_hire" target="_blank"><i class="fa fa-twitter footer-fa fa-lg" aria-hidden="true"></i></a>
      <a href="https://www.linkedin.com/company/tech-hire/" target="_blank"><i class="fa fa-linkedin footer-fa fa-lg" aria-hidden="true"></i></a>
  </div>
  <div class="footer-text">
    Tech Hire &copy; 2018
  </div>
</footer>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '329685057583596');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=329685057583596&ev=PageView&noscript=1" alt='None'/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Linkedin Tag Code -->
<script type="text/javascript">
_linkedin_partner_id = "525697";
window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
(function(){var s = document.getElementsByTagName("script")[0];
var b = document.createElement("script");
b.type = "text/javascript";b.async = true;
b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=525697&fmt=gif" alt="None"/>
</noscript>
<!-- End Linkedin Tag Code -->


<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-121446625-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->

<script type='application/ld+json'>{"@context": "http://www.schema.org","@type": "WebSite","name": "Tech Hire","url": "https://techhire.bg"}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4.2.1/dist/masonry.pkgd.min.js"></script>
<script src="{% static 'jobboard/js/landing.min.js' %}"></script>
</body>
</html>