{% extends 'base.html' %}

{% block content %}

<h3 class="page-title">Edit Job</h3>
{% load crispy_forms_tags %}
<div class="card">
    <div class="card-body">
    <h2>{{message}}</h2>
    {% crispy form %}
</div>
</div>
{% endblock %}