{% extends 'base.html' %}
{% load static %}
{% block title %} {{page_title}} {%endblock%}
{% block content %}
<h3 class="page-title">{{expired_job}} has expired.</h3>
<div class="card small-card">
    <div class="card-body text-center">
        <p>We are sorry, but the role you are looking for is no longer available. Please search for similar jobs in the search bar or click below to view all jobs.</p>

      <a href="{% url 'jobs' %}"><button type="submit" class="btn btn-primary">All Jobs</button></a>
    </div>
</div>

{% endblock %}