{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h3 class="page-title">Create a Job</h3>

<div class="card small-card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 text-center">
                <h5>Credits</h5>
                <p>{{company.credits}}</p>
            </div>
            <div class="col-sm-8">
                <h5>Tip</h5>
                <p>Adding salary range attracts more views and applicants to your job.</p>
            </div>
        </div>

    </div>
</div>

{% if error %}
<div class="card small-card">
    <div class="card-body">
        <h1>{{error}}</h1>
    </div>
</div>
{% endif %}
<div class="card">
    <div class="card-body">
     {% crispy form %}
    </div>
</div>
{% endblock %}