{% extends 'base.html' %}
{% load static %}
{% block title %} {{page_title}} {%endblock%}
{% block content %}
{% if jobpost.company.background %}
<div class="company-background" style="background-image: url({{jobpost.company.background.url}});">
</div>
{% else %}
<div class="company-background">
</div>
{% endif %}
<div class="card jobpage-card">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3 mx-auto text-center">
                    <div>
                        {% if jobpost.company.logo %}
                        <div class="company-logo-wrapper">
                            <img src="{{jobpost.company.logo.url}}" alt="{{company.name |title}} logo">
                        </div>
                            {% else %}
                            <div class="company-logo-wrapper">
                            </div>
                            {% endif %}
                            <h5 class="company-page-title"><a href="{% url 'company-home' jobpost.company.slug %}">{{jobpost.company.name|title}}</a></h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h1 class="jobpage-title">{{jobpost.title}}</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                {% if jobpost.experience %}
                                <div class="job-info-label">Experience</div>
                                <div>{{jobpost.get_experience_display}}</div>
                                {% endif %}
                                {% if jobpost.job_type %}
                                <div class="job-info-label">Job Type</div>
                                <div>{{jobpost.job_type}}</div>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                {% if jobpost.role %}
                                <div class="job-info-label">Role</div>
                                <div>{{jobpost.role}}</div>
                                {% endif %}
                                {% if jobpost.location %}
                                <div class="job-info-label">Location</div>
                                <div>{{jobpost.location}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center mt-3">
                        {% if jobpost.min_salary or jobpost.max_salary %}
                        <div class="listing-salary">
                            <span class="">{{jobpost.min_salary|default_if_none:'&nbsp;'}} - {{jobpost.max_salary|default_if_none:'&nbsp;'}}
                {{jobpost.currency|default_if_none:'&nbsp;'}}</span>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-action btn-apply d-none d-sm-block" name="apply" value="Apply">Apply</button>
                    </div>
                </div>
                {% if jobpost.skills %}
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <div class="job-info-label">Skills</div>
                            <div>
                                {% for skill in jobpost.skills.names %}
                                <div class="tag">{{skill}}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="job-info-label">Job Description</div>
                        <div>
                            <p>{{jobpost.description|safe}}</p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-action btn-apply" name="apply" value="Apply">Apply</button>
                </div>
        </form>
    </div>
    <div class="card-footer">
        Published {{jobpost.publish_date|date}}
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 job-info-label">
                Share on
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://techhire.bg{{ request.path }}" target="_blank"><img src="{% static 'jobboard/images/flogo.png' %}" alt="Facebook Share" class="share-icon"/></a>
                <a href="http://twitter.com/share?text={{description}}&url=https://techhire.bg{{ request.path }}">
                <img src="{% static 'jobboard/images/Twitter_Logo.png' %}" class="share-icon" alt="Twitter Logo">
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://techhire.bg{{ request.path }}&title={{jobpost.title}}&summary={{description}}">
                <img src="{% static 'jobboard/images/Inlogo.png' %}" alt="LinkedIn Share" class="share-icon"></a>
            </div>
            <div class="col-sm-6 job-info-label">
                Email job <a href="mailto:?body={{description}}&subject={{jobpost.title}}"> <img src="{% static 'jobboard/images/gmail.png' %}" alt="Email Job" class="share-icon"></a>
            </div>
        </div>
    </div>
</div>

{% if application %}
<div class="modal fade" id="applicationResponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Application Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You have applied for {{jobpost.title}} at {{jobpost.company}} on {{application.created_date}}!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if error %}
<div class="modal fade" id="errorResponseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{error}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}