{% extends 'base.html' %}

{% block title %} {{page_title}} {%endblock%}

{% block content %}
<div class="search-box">
<form action="" method="GET" class="form-inline" id='jobSearch'>
    <div class="search-query">
        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
        <input type="text" name="q" class="form-control jobsSearch" placeholder="Job Title or Skill" value="{% if search %}{{search}}{% endif %}">
    </div>
</form>
<div id='filter-icon'>
    <i class="fa fa-filter fa-lg d-none d-sm-block" aria-hidden="true"></i>
</div>
<div id="active-filters">
</div>
</div>
<div class="text-center">
    <button class="btn btn-action d-block d-sm-none" id='mobileFilterBtn'>Filters</button>
</div>

<div class="text-center filter-panel d-none d-sm-block" id="filter-panel">
    <div class="btn-group keep-open" role="group">
        <select type="text" class="form-control" id="rolesInput">
            <option></option>
        {% for role in roles %}
            <option class="filters" data-key="role" data-value="{{role.1}}">{{role.1}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="btn-group" role="group">
        <button class="btn btn-default btn-filter dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Job Type <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        {% for type in job_type %}
         <li class="dropdown-item filters" data-key="job_type" data-value="{{type.1}}">
         {{type.1}}</li>
        {% endfor %}
        </div>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-filter dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Experience <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
        {% for e in exp %}
         <a class="dropdown-item filters" data-key="experience" data-value="{{e.1}}">{{e.1}}</a>
        {% endfor %}
        </div>
    </div>
    <div class="btn-group keep-open">
        <button class="btn btn-default btn-filter dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Salary <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuSalary" id="dropdownMenuSalary">
            <div id="salary_slider"></div>
        </div>
    </div>
    <div class="btn-group keep-open">
    <select type="text" class="form-control" name="" id="skillInput"></select>
    </div>
    <div class="btn-group">
        <button class="btn btn-default btn-filter dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Location <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {% for l in location %}
         <div class="dropdown-item filters" data-key="location" data-value="{{l.1}}">{{l.1}}</div>
        {% endfor %}
        </div>
    </div>
    <div class="btn-group">
    <button class="btn btn-default btn-filter dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Published <span class="caret"></span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% for p in published %}
     <div class="dropdown-item filters" data-key="published" data-value="{{p.1}}">{{p.0}}</div>
    {% endfor %}
    </div>
    </div>
</div>

<div id="jobsList">
{% include "listing.html" with jobs=jobs %}
</div>

<a href="#" class="go-top" ><i class="glyphicon glyphicon-arrow-up"></i></a>
<script>fbq('track', 'Search');</script>
{% endblock %}