{% extends 'base.html' %}

{% block content %}
{% load static %}
    <div>
        <h1 class="landing-headline">Сравни Заплатите в IT</h1>
        <h2 class="landing-subheadline">Регистрирай се и сравни заплатата си с тези на пазара за твоята роля.</h2>

        <img src="{% static 'jobboard/images/salary-comp.png' %}" class="img-fluid salary-image" alt="Salary Comparison Data">
        <p class="text-center">Примерни данни</p>
        {% if not user.applicant %}
        <a href="{% url 'register-applicant' %}">
            <button class="btn btn-action btn-landing" name="registration">Регистрация</button>
        </a>
        {% else %}
        <a href="{% url 'salary-check' user.applicant.id %}">
            <button class="btn btn-action btn-landing" name="salary check">Salary Check</button>
        </a>
        {% endif %}
        <hr>
        <div class='landing-info'>
        <h3 class="landing-subheadline">Диаграма за разпределението на заплатите.</h3>
            <img src="{% static 'jobboard/images/salary-chart.png' %}" class="img-fluid salary-image " alt="Salary Comparison Data">
            <p class="text-center">Примерни данни</p>
        <hr>
        <h3 class="landing-subheadline">Средна заплата за технологиите в твоя профил.</h3>
            <img src="{% static 'jobboard/images/salary-skills.png' %}" class="img-fluid salary-image" alt="Salary Comparison Data">
            <p class="text-center">Примерни данни</p>
        </div>
    </div>
{% endblock %}