{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-sm-6">
        <div class="d-block d-sm-none mb-4">
        <h1 class="landing-headline">Join Tech Hire</h1>
            <p class="text-center">Companies apply to you with job offers and salaries</p>
            <p class="text-center">Respond and reveal profile only to the offers you like.</p>
        </div>
        <div class="d-none d-sm-block mb-4">
        <h1 class="landing-headline-side">Join Tech Hire</h1>
            <p class="text-center">Companies apply to you with job offers and salaries</p>
            <p class="text-center">Respond and reveal profile only to the offers you like.</p>
        </div>
        <h3 class="landing-subheadline "> How does it work?</h3>
        <div class="d-flex justify-content-center mb-5">
            <img src="{% static 'jobboard/images/Steps.png' %}" alt="Tech Hire Process" class="steps-image">
        </div>
    </div>
    <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
        <h2 class="landing-subheadline-side">We Bring Job Offers to You</h2>
            {% crispy form %}
        </div>
    </div>
    </div>

</div>
{% endblock %}