{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-sm-6">
        {% if average %}
        <div class="d-block d-sm-none">
        <h1 class="landing-headline">You could earn {{average}} BGN as {{role}} in Sofia!</h1>
        <h2 class="landing-subheadline">Join Tech Hire and find out what companies are willing to offer you.</h2>
                <p class="text-center">Companies apply to you with job offers and salaries</p>
                <p class="text-center">Respond and reveal profile only to the offers you like.</p>
        </div>
        <div class="d-none d-sm-block">
        <h1 class="landing-headline-side">You could earn {{average}} BGN as {{role}} in Sofia!</h1>
        <h2 class="landing-subheadline-side">Join Tech Hire and find out what companies are willing to offer you.</h2>
            <p class="text-center">Companies apply to you with job offers and salaries</p>
            <p class="text-center">Respond and reveal profile only to the offers you like.</p>
        </div>
        {% else %}
        <div class="d-block d-sm-none">
        <h1 class="landing-headline">We do not have enough data to provide accurate estimate for your role. </h1>
        <h2 class="landing-subheadline">Join Tech Hire and find out what companies are willing to offer you.</h2>
                <p class="text-center">Companies apply to you with job offers and salaries</p>
                <p class="text-center">Respond and reveal profile only to the offers you like.</p>
        </div>
        <div class="d-none d-sm-block">
        <h1 class="landing-headline-side">We do not have enough data to provide accurate estimate for your role. </h1>
        <h2 class="landing-subheadline-side">Join Tech Hire and find out what companies are willing to offer you.</h2>
            <p class="text-center">Companies apply to you with job offers and salaries</p>
            <p class="text-center">Respond and reveal profile only to the offers you like.</p>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
        <h2 class="landing-subheadline-side">We Bring Job Offers to You</h2>
            {% crispy form %}
        </div>
    </div>
    </div>

</div>
<script>fbq('track', 'Lead');</script>
{% endblock %}