{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-sm-6">
        <div class="d-block d-sm-none">
        <h1 class="landing-headline">How much can you make?</h1>
        <h2 class="landing-subheadline">Find out what you could earn for your role and experience.</h2>
        </div>
        <div class="d-none d-sm-block">
        <h1 class="landing-headline-side">How much can you make?</h1>
        <h2 class="landing-subheadline-side">Find out what salary you could be earning for your role and experience.</h2>
        </div>
        <img src="{% static 'jobboard/images/revenue.svg'%}" alt="Income" class='landing-salary-image'>
    </div>
    <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
        {% crispy form %}
        </div>
    </div>
    </div>

</div>

</div>
{% endblock %}