{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-sm-6">
    <h1 class="landing-headline">Companies Apply To You!</h1>
    <h2 class="landing-subheadline"></h2></div>
    <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
        {% crispy form %}
        </div>
    </div>
    </div>
</div>

</div>
{% endblock %}