{% load template_filters %}
{% for job in jobs %}
<div class="card">
    {% if job.featured %}
    <div class="card-header featured-job">Featured</div>
    {% endif %}
    <div class="job-card">
    {% comment %} Mobile Job Listing {% endcomment %}
    <div class="d-block d-sm-none job-mobile">
      <a href="{% url 'job' job.pk job.slug %}" target="">
        <div class="job-mobile-title">{{job.title |capfirst}}</div>
        <div class="job-detail">
        <i class="fa fa-building list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.company}}</span></div>
        <div class="job-detail"><i class="fa fa-briefcase list-fa fa-lg" aria-hidden="true"></i><span>{{job.job_type}}</span>
        </div>
        <div class="job-detail">
          <i class="fa fa-map-marker list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.location}}</span></div>
         <div class="job-detail">
          <i class="fa fa-calendar list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.publish_date|date}}</span>
         </div>

        {% if job.min_salary or job.max_salary %}
         <div class="listing-salary">
          <span class="">{{job.min_salary}} - {{job.max_salary}} {{job.currency}}</span>
          </div>
        {% endif %}
      </a>
    </div>
    {% comment %} Desktop Job Listing {% endcomment %}
    <div class="d-none d-sm-block">
        <div class="row">
        <div class="noMP col-sm-9">
            {% if job.company.logo %}
                <a href="{% url 'company-home' job.company.slug %}" target="_blank">
                  <div class="listing-logo">
                    <img src="{{ job.company.logo.url }}" alt="{{job.company.name}} logo"/>
                  </div>
                </a>
            {% endif %}
            <a href="{% url 'job' job.id job.slug %}" target="_blank">
            <div class="listing-title">{{ job.title|capfirst }}
            </div>
            <div class="listing-info">
                <i class="fa fa-building list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.company}}</span>
                <i class="fa fa-briefcase list-fa fa-lg" aria-hidden="true"></i><span>{{job.job_type}}</span>
                <i class="fa fa-map-marker list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.location}}</span>
                <i class="fa fa-calendar list-fa fa-lg" aria-hidden="true"></i><span class="">{{job.publish_date|date}}</span>
            </div>
            </a>
        </div>
        <div class="noMP col-sm-3">
            <a href="{% url 'job' job.id job.slug %}" target="_blank">
            <div class="listing-type">
            {% if job.min_salary or job.max_salary %}
            <div class="listing-salary">
                <span class="">{{job.min_salary|default_if_none:'&nbsp;'}} - {{job.max_salary|default_if_none:'&nbsp;'}} {{job.currency|default_if_none:'&nbsp;'}}</span>
            </div>
            {% endif %}
            </div>
            </a>
        </div>
    </div>
        <div class="noMP col-sm-12">
            <a href="{% url 'job' job.id job.slug %}" target="_blank">
            <div class="listing-desc">
            {% spaceless %}
                {{job.description| truncatewords:50|striptags|nbsp2space}}
            {% endspaceless %}
            </div>
            </a>
        </div>
    </div>
</div></div>
{% endfor %}