{% extends 'base.html' %}
{% block content %}
{% if offer.company.background %}
<div class="company-background" style="background-image: url({{offer.company.background.url}});">
</div>
{% else %}
<div class="company-background">
</div>
{% endif %}
<div class="card jobpage-card">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-3 mx-auto text-center">
                    <div>
                        {% if offer.company.logo %}
                        <div class="company-logo-wrapper">
                            <img src="{{offer.company.logo.url}}" alt="{{company.name |title}} logo">
                        </div>
                            {% else %}
                            <div class="company-logo-wrapper">
                            </div>
                            {% endif %}
                            <h5 class="company-page-title"><a href="{% url 'company-home' offer.company.slug %}">{{offer.company.name|title}}</a></h5>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h1 class="jobpage-title">{{offer.title}}</h1>
                        <div class="row">
                            <div class="col-sm-6">
                                {% if offer.role %}
                                <div class="job-info-label">Role</div>
                                <div>{{offer.role}}</div>
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if offer.job_type %}
                                <div class="job-info-label">Job Type</div>
                                <div>{{offer.job_type}}</div>
                                {% endif %}
                            </div>
                            <div class="col-sm-3">
                                {% if offer.location %}
                                <div class="job-info-label">Location</div>
                                <div>{{offer.location}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-center mt-3">
                        {% if offer.min_salary or offer.max_salary %}
                        <div class="listing-salary">
                            <span class="">{{offer.min_salary|default_if_none:'&nbsp;'}} - {{offer.max_salary|default_if_none:'&nbsp;'}}
                {{offer.currency|default_if_none:'&nbsp;'}}</span>
                        </div>
                        {% endif %}
                        {% if user == offer.applicant.user %}
                            {% if not offer.interested%}
                            <button type="submit" class="btn btn-action btn-apply" name="apply" value="Interested">Interested</button>
                            {% else %}
                            <p class="mt-3">Your profile was shared with the company.</p>
                            {% endif %}
                        {% elif user == offer.company.user and offer.interested %}
                            <a href="{% url 'applicant-home' offer.applicant.id %}"><h4 class="mt-3">Talent Profile</h4></a>
                        {% endif %}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="job-info-label">Technologies</div>
                        <div>
                        {% if offer.company.skills.names %}
                        <div class="row">
                            <div class="col-sm-12">
                            {% for b in offer.company.skills.names %}
                            <div class="benefit tag">{{b}}</div>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="job-info-label">Benefits</div>
                        <div>
                        {% if offer.company.benefits %}
                        <div class="row">
                            <div class="col-sm-12">
                            {% for b in offer.company.benefits %}
                            <div class="benefit tag">{{b}}</div>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                </div>
        </form>
        {% if offer.message %}
        <hr>
                <div class="row">
                    <div class="col-12">
                        <div class="job-info-label">Message</div>
                        <div class="row">
                            <div class="col-sm-12">
                            <div>{{offer.message}}</div>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
    </div>

    <div class="card-footer">
        Published {{offer.created_date|date}}
    </div>
</div>
{% if offer.interested %}
<h3 class="page-title"> Talent Profile</h3>
<div class="card">
    <div class="card-body">
        <div class="applicant-name">{{applicant.full_name|title}}</div>
        <div class="applicant-role text-center">{{applicant.role}}</div>
        <div class="row text-center">
            <div class="col-sm">
                <i class="fa fa-envelope fa-1" aria-hidden="true"></i>
                {{applicant.user.email}}
            </div>
            {% if applicant.phone %}
            <div class="col-sm">
                <i class="fa fa-phone fa-1" aria-hidden="true"></i>{{applicant.phone}}
            </div>
            {% endif %}
            <div class="col-sm">
                <i class="fa fa-map-marker fa-1" aria-hidden="true"></i>
                {{applicant.location}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2 text-bold">Experience</div>
            <div class="col-sm-10">{% if applicant.experience %}{{applicant.experience}} years {% endif %}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-2 text-bold">Other Roles</div>
            {% if applicant.roles %}
            <div class="col-sm-10">{{applicant.roles|join:", "}}</div>
            {% endif %}
        </div>
        <hr>
        {% if applicant.skills %}
        <div class="row">
            <div class="col-sm-2 text-bold">Skills</div>
            <div class="col-sm-10">{% for s in applicant.skills.names %}<div class="active-filter">{{s}}</div>{% endfor %}</div>
        </div>
        <hr>
        {% endif %}
        {% if applicant.resume %}
            <div class="row text-center">
            <div class="col-sm">
            <a href="{{applicant.resume.url}}" Download><button class="btn btn-action"> Download Resume</button></a>
            </div>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
 {% endblock %}
}
