{% load template_filters %}
{% for offer in offers %}
<div class="card">
    {% if offer.interested and user.company %}
    <div class="card-header featured-job">Interested</div>
    {% endif %}
<div class="job-card">
    {% comment %} Mobile Job Listing {% endcomment %}
    <div class="d-block d-sm-none job-mobile">
      <a href="{% url 'offer' offer.pk %}">
        <div class="job-mobile-title">{{offer.title |capfirst}}</div>
        <div class="job-detail">
        <i class="fa fa-building list-fa fa-lg" aria-hidden="true"></i><span class="">{{offer.company}}</span></div>
        <div class="job-detail"><i class="fa fa-briefcase list-fa fa-lg" aria-hidden="true"></i><span>{{offer.job_type}}</span>
        </div>
        <div class="job-detail">
          <i class="fa fa-map-marker list-fa fa-lg" aria-hidden="true"></i><span class="">{{offer.location}}</span></div>
         <div class="job-detail">
          <i class="fa fa-calendar list-fa fa-lg" aria-hidden="true"></i><span class="">{{offer.created_date|date}}</span>
         </div>

        {% if offer.min_salary or offer.max_salary %}
         <div class="listing-salary">
          <span class="">{{offer.min_salary}} - {{offer.max_salary}} {{offer.currency}}</span>
          </div>
        {% endif %}
      </a>
    </div>
    {% comment %} Desktop Job Listing {% endcomment %}
    <div class="d-none d-sm-block">
        <div class="row">
        <div class="noMP col-sm-6">
            {% if offer.company.logo %}
                <a href="{% url 'company-home' offer.company.slug %}" target="_blank">
                  <div class="listing-logo">
                    <img src="{{ offer.company.logo.url }}" alt="{{offer.company.name}} logo"/>
                  </div>
                </a>
            {% endif %}
            <a href="{% url 'offer' offer.id %}" target="_blank">
            <div class="listing-title">{{ offer.title|capfirst }}
            </div>
            <div class="listing-info">
                <i class="fa fa-building list-fa fa-lg" aria-hidden="true"></i><span class="">{{offer.company}}</span>
                <i class="fa fa-briefcase list-fa fa-lg" aria-hidden="true"></i><span>{{offer.job_type}}</span>
                <i class="fa fa-map-marker list-fa fa-lg" aria-hidden="true"></i><span class="">{{offer.location}}</span>
                <i class="fa fa-calendar list-fa fa-lg" aria-hidden="true"></i><span class="">{{offer.created_date|date}}</span>
            </div>
            </a>
        </div>
        {% if not offer.interested and user.applicant%}
          <div class="noMP col-sm-3">
              <a href="{% url 'offer' offer.id %}" target="_blank">
              <div class="listing-type">
              {% if offer.min_salary or offer.max_salary %}
              <div class="listing-salary">
                  <span class="">{{offer.min_salary|default_if_none:'&nbsp;'}} - {{offer.max_salary|default_if_none:'&nbsp;'}} {{offer.currency|default_if_none:'&nbsp;'}}</span>
              </div>
              {% endif %}
              </div>
              </a>
          </div>
          <div class="noMP col-sm-3">
            <div class="row">
            <div class="col-sm-6">
              <form method="POST" action='{% url "offer" offer.pk %}'>
                  {% csrf_token %}
              <button type="submit" class="btn btn-action" name="apply" value="Interested">Interested</button>
              </form>
            </div>
            <div class="col-sm-6">
              <form method="POST" action='{% url "offer-remove" offer.pk %}'>
                  {% csrf_token %}
              <button type="submit" class="btn btn-primary" name="apply" value="remove">Decline</button>
              </form>
            </div>
            </div>
          </div>
        {% elif not offer.interested and user.company%}
          <div class="noMP col-sm-4">
              <a href="{% url 'offer' offer.id %}" target="_blank">
              <div class="listing-type">
              {% if offer.min_salary or offer.max_salary %}
              <div class="listing-salary">
                  <span class="">{{offer.min_salary|default_if_none:'&nbsp;'}} - {{offer.max_salary|default_if_none:'&nbsp;'}} {{offer.currency|default_if_none:'&nbsp;'}}</span>
              </div>
              {% endif %}
              </div>
              </a>
          </div>
          <div class="noMP col-sm-2">
            <div class="">
               <form method="POST" action='{% url "offer-remove" offer.pk %}'>
                  {% csrf_token %}
              <button type="submit" class="btn btn-primary" value="remove">Remove</button>
              </form>
            </div>
          </div>
        {% else %}
          <div class="noMP col-sm-6">
              <a href="{% url 'offer' offer.id %}" target="_blank">
              <div class="listing-type">
              {% if offer.min_salary or offer.max_salary %}
                <div class="listing-salary">
                    <span class="">{{offer.min_salary|default_if_none:'&nbsp;'}} - {{offer.max_salary|default_if_none:'&nbsp;'}} {{offer.currency|default_if_none:'&nbsp;'}}</span>
                </div>
              {% endif %}
              </div>
              </a>
          </div>
        {% endif %}
        </div>
    </div>
    </div>
</div>
{% endfor %}