{% extends 'base.html' %}
{% block content %}

<div class="card">
<div class="card-body">
    <p>You need to purchase a subscription to have access to Talent Marketplace! </p>
    <p>Please contact us at sales@techhire.bg or 0882522279 for more information.</p>
</div>
</div>


{% endblock %}