{% extends 'base.html' %}

{% block content %}
<div class="row">
<div class="col-sm-6">
<a href="{% url 'user-signup' %}">
<div class="card small-card">
    <div class="card-body">
        <h3 class="card-title">Candidate Sign Up</h3>
        <p class="card-text">Create a profile and we will bring job offers directly to you.
        </p>
    </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="reg-benefits">Companies apply to you with job offers and salaries!</span></li>
            <li class="list-group-item"><span class="reg-benefits">Respond and reveal profile only to the offers you like.</span></li>
            <li class="list-group-item"><span class="reg-benefits">Apply to jobs with 1 click on our jobboard!</span></li>
        </ul>
</div>
</a>
</div>

<div class="col-sm-6">
<a href="{% url 'register-company' %}">
<div class="card small-card">
    <div class="card-body">
    <h3 class="card-title">Register Company</h3>
    <p class="card-text">Create a company account to find exceptional candidates, post jobs and track applications.</p>
    </div>
    <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="reg-benefits">Company Careers Page</span> <div class="fr"><button class="btn btn-outline-primary btn-sm btn-free">Free</button></div>
            </li>
            <li class="list-group-item">
                <span class="reg-benefits">1-Step Job Posting Process</span>
            </li>
            <li class="list-group-item">
                <span class="reg-benefits">Applicant Tracking System</span> <div class="fr"><button class="btn btn-outline-primary btn-sm btn-free">Free</button></div>
            </li>
    </ul>
</div>
</a>
</div>
</div>
{% endblock %}