{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<h3 class="page-title">Salary Check</h3>



{% if user.applicant.current_salary %}
    {% crispy form %}
    <div class="card">
        <div class="card-body">
        Compare your salary to others working as {{role}} with {{experience}} years of experience and based in {{location}}.

        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
          <div class="dashboard-card small-box">
            <div class="dashboard-card-head bg-main">My Salary</div>
            <div class="dashboard-content">
                {{user.applicant.current_salary}} BGN</div>
        </div></div>
        <div class="col-sm-3">
            <div class="dashboard-card small-box">
                <div class="dashboard-card-head bg-main">Lowest Salary</div>
                <div class="dashboard-content">{{min}} BGN</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dashboard-card small-box">
                <div class="dashboard-card-head bg-main">Average Salary</div>
                <div class="dashboard-content">{{avg}} BGN</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="dashboard-card small-box">
                <div class="dashboard-card-head bg-main">Highest Salary</div>
                <div class="dashboard-content">{{max}} BGN</div>
            </div>
        </div>
    </div>
    <div class="d-none d-sm-block">
        <canvas id="salaryChart" width="400" height="200"></canvas>
    </div>
    <div class="d-block d-sm-none">
        <h5>Switch to landscape mode to view Salary Graph.</h5>
    </div>
    <hr>
    <h3 class="page-title">Average salary for your skills</h3>
    <div class="row">
        {% for skill in skill_salaries %}
                <div class="col-sm">
                <div class="dashboard-card small-box">
                <div class="dashboard-card-head bg-main">{{skill.skills__name}}</div>
                <div class="dashboard-content">{{skill.current_salary__avg|floatformat:'-1'}} BGN</div>
                </div>
                </div>
        {% endfor %}
    </div>
        {% if jobs %}
        <h3 class="page-title">Recommended Jobs</h1>
        {% include "listing.html" with jobs=jobs %}
        {% endif %}
{% else %}
    <div class="card">
        <div class="card-body">
            <a href="{% url 'applicant-update' user.applicant.id %}" > Enter your salary to be able to view the salary comparison.
        </div>
    </div>

{% endif %}

{% endblock %}