{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
<div class="card-body text-center">
    <h1>Talent Search</h1>
    {% crispy get_form%}
</div>
</div>

{% for talent in talents %}
<div class="card">
<div class="card-body">
    <div class="row">
        <div class="col-sm-9">
        <div class="row">
        <div class="col-sm-6">
            <div class="job-info-label">Role</div>
            <div>{{talent.role}}</div>
            <div>{% if talent.roles %}{{talent.roles|join:", "}} {% endif %}</div>
        </div>
        <div class="col-sm-6">
            <div class="job-info-label">Experience</div>
            <div>{{talent.get_experience_display}}</div>
        </div>
        </div>
        </div>
        <div class="col-sm-3">
        <button class="btn btn-action btn-apply make-offer" name="apply" data-talent="{{talent.pk}}" data-toggle="modal" data-target="#offerModal">Make Offer</button>
        </div>
        <div class="col-sm-12">
        {% for tagged_item in talent.tagged_items.all %}
        <div class="benefit tag">{{tagged_item.tag}}</div> {% if not forloop.last %} {%endif %}
        {% endfor %}
        </div>
    </div>
</div>
</div>
{% endfor %}

<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="offerModalLabel">Job Offer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% crispy form %}
      </div>
      <div class="modal-footer">
        <button type="submit" id="sendOffer" class="btn btn-action">Send Offer</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
