{% extends 'base.html' %}

{% block content %}
<h1 class="page-title">Sign Up</h1>

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-sm-6">
        <h2 class="landing-subheadline">Join Tech Hire</h2>
        <p class="text-center">Companies apply to you with job offers and salaries!</p>
        <p class="text-center">Respond and reveal profile only to the offers you like.</p>
    </div>
    <div class="col-sm-6">
        {% if form.errors %}
            <div class="card">
                <div class="card-body">
                    {{form.non_field_errors}}
                    {%for key,value in form.errors.items%}<h5>{{value}}</h5>{% endfor%}
                </div>
            </div>
        {% endif %}
        <div class="card">
        <div class="card-body">
        <h2 class="landing-subheadline-side">We Bring Job Offers to You</h2>
        {% crispy form %}
        </div>
</div>
    </div>
</div>

{% endblock %}