{% extends 'base.html' %}
{% load static %}
{% block content %}


<h1 class="page-title">Welcome to Tech Hire</h1>

    <div class="card">
        <div class="card-body">
                <p class="text-center">We are really excited that you have joined our recruitment platform.</p>
                <p class="text-center">Expect companies to start sending you job offers over the next few weeks!</p>
        </div></div>
            {% if user.applicant %}

                <div class="row">
                    <div class="col-sm-4">
                        <a href="{% url 'jobs' %}">
                        <div class="card dashboard-card-head small-box">
                            <div class="inline-block">
                            <img src="{% static 'jobboard/images/briefcase.svg' %}" class="landing-logo" alt="Jobs Image"><span class="ml-3 text-dark">Jobs</span></div>
                        </div></a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'applicant-home' user.applicant.id %}">
                            <div class="card dashboard-card-head bg-main small-box">
                                <div class="inline-block">
                                <img src="{% static 'jobboard/images/curriculum.svg' %}" class="landing-logo" alt="Jobs Image"><span class="ml-3">Talent Profile</span></div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url 'salary-check' user.applicant.id %}">
                        <div class="card dashboard-card-head bg-action small-box">
                            <div class="inline-block">
                            <img src="{% static 'jobboard/images/salary.svg' %}" class="landing-logo" alt="Salary Icon"> <span class="ml-3">Salary Check</span></div>
                        </div>
                        </a>
                    </div>
                </div>

            {% else %}

                <div class="row">
                    <div class="col-sm-3">
                        <a href="{% url 'new-job' user.company.slug %}">
                        <div class="card dashboard-card-head small-box"><span class="text-dark text-center">Post Free Job</span></div></a>
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'company-dashboard' user.company.slug %}">
                            <div class="card dashboard-card-head small-box">
                            <span class="text-dark text-center">Company Dashboard</span></div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'company-home' user.company.slug %}">
                        <div class="card dashboard-card-head small-box">
                            <span class="text-dark text-center">Company Page</span>
                        </div>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="{% url 'buy-credits' user.company.slug %}">
                        <div class="card dashboard-card-head small-box">
                            <span class=" text-dark text-center">Purchase Job Credits</span>
                        </div>
                        </a>
                    </div>
                </div>

            {% endif %}
            <div class="fb">
                <p class=""> For any questions, help or advice do not hesitate to email us at mail@techhire.bg</p>
            </div>



<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=558089&conversionId=715809&fmt=gif" />
{% endblock %}