.go-top {
	display: inline-block;
	position: fixed;
	bottom: 8px;
	right: 30px;
	color: #999;
	text-decoration: none;
	font-size: 25px;
	line-height: 34px;
}

body, html {
	background-color: #e5e5e5;
	font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}

.card-title {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

.listing-desc, .listing-info, .listing-title {
	text-align: left;
}

.navbar-header{
    background-color: transparent;
}

.navbar-brand {
	margin-top: 20px;
	padding-left: 10px;
	font-size: 18px;
}

.navbar-toggle {
	height: 80px;
}

.navbar-toggle {
    border: 0;
}

.nav-dropdown-item {
    display: block;
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    font-size: 1rem;
    white-space: nowrap;
}

.icon-bar {
    background-color: #4d4d4d !important;
    color:#4d4d4d !important;
}

.landing-title {
    color: #11AFA2;
    font-size: 2rem;
    margin-top: 10px;
}

.landing-search {
	width: 90%;
	background-color: #ffffff;
	margin: auto auto;
	padding: 10px;
	border-radius: 5px;
}

#searchField {
 height: 50px;
 min-width: 200px;
 width: 80%;
 font-size: 15px;
 margin-left: auto;
 margin-right: auto;
 padding-left: 10px;
 border-radius: 5px;
 border: none; /*solid 1px #d9d9d9;*/
 -webkit-border: solid 1px #d9d9d9;
 -moz-border: solid 1px #d9d9d9;
}

button.btn-search {
    font-size: 15px;
}

.clear {
	clear: both;
}

a#landing-border {
	color:  #39b6b3;
	border: solid 2px #39b6b3;
	-moz-border: solid 2px #39b6b3;
	-webkit-border: solid 2px #39b6b3;
	border-radius: 20px;
	padding: 10px 15px 10px 15px;
}

a#landing-border:hover {
	border: solid 2px #39b6b3;
	color: #39b6b3;
}

.black {
	color: #4A4A4A;
}

.landing-search-block {
	margin: auto;
	overflow: hidden;
}

.landing-box {
	margin-left: 25px;
}

#headerSection {
	 height: auto;
	 overflow: hidden;
	 padding-bottom: 55px;
	 background-color: #fff;
}

.footer a {
	color: #fff;
}

#headerSection {
 	background: url(../images/subheader.jpg) no-repeat center center;
	width: 100%;
	min-height: 565px;
	position: relative;
	padding-bottom: 0px;
	background-color: #f0f0f0;
}

.fs24 {
	font-size: 24px;
	color: #4A4A4A;
}


.recommendation-title {
	font-weight: 500;
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 5px;
}

.job-detail {
	text-align: left;
	margin-bottom: 5px;
}

.list-salary {
	margin: 0px;
	text-align: center;
    bottom:0;
}

.landing-content {
	margin: auto auto;
	margin-top: 30px;
	display: block;
}

.grid{
    margin-left: auto;
    margin-right: auto;
}

#locationCard{
    color: #ffffff;
    background: url(../images/sofia.jpg) no-repeat;
    background-size: cover;
}

#locationCard .card-title{
    margin-top: 50%;
}

.card {
    height: 220px;
}

.recommendation {
    padding: 10px;
    background-color: #fff;
    height: 100%;
}

.link-card {
    padding: 25px;
    vertical-align: text-bottom;
}

.grid-item {
	width: 300px;
}

.grid-item--width2 {
	width: 600px;
}

.green-card {
    background-color: #11AFA2;
    color: #ffffff;
    font-size: 1.2rem;
}

.action-card {
    background-color: #DD6E42;
    color: #ffffff;
    font-size: 1.2rem;
}

#query{
	background-size: cover;
}

.landing-logo{
    width: 50px;
    margin: 0 !important;
}

#brand-logo{
    height: 50px;
    margin: 0 !important;

}

.navbar-toggle {background-color: transparent;}

.landing-nav {
	max-width: 1400px;
	margin-right: auto;
	margin-left: auto;
}


.landing-nav li {
	padding: 5px;
	margin: 0px;
}

.landing-nav li a:hover, .landing-nav li a:active, .landing-nav li a:visited, .landing-nav li a:focus {
	background-color: transparent;
}


ul.nav {
	margin-top: 25px;
}

.footer-tail {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 20px;
}


.dropwdown > ul li a {
	color: #ffffff;
	font-size: 16px;
	padding-top: 12px;
}

.opauqe {
	opacity: 0.75;
}

.mt125 {
	margin-top: 120px;
}

.pt10 {
	padding-top: 10px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb50 {
	margin-bottom: 50px;
}

.mb100 {
	margin-bottom: 100px;
}

.pt20 {
	padding-top: 20px;
}

.pl20 {padding-left: 20px;}


@media screen and (min-width: 1250px) {
	.landing-content {
		width: 1300px;
	}
    .landing-title{
        font-size: 2.2rem;
    }
	.landing-search-block {
		width: 800px;
		padding: 50px 0px 0px 0px;
	}
}

@media screen and (min-width: 930px) and (max-width: 1250px) {
	.landing-content{
		width: 920px;
	}
    .landing-title{
        font-size: 2.2rem;
    }
	.landing-search-block {
		max-width: 700px;
		padding: 50px 0px 0px 0px;
	}
}


@media screen and (max-width: 1024px) {
	.mb50 {
		margin-bottom: 0px;
	}
	.mt50 {
		margin-top: 30px;
	}
}

@media screen and (max-width: 930px) {
	.landing-content {
		width: 610px;
	}
	.landing-search-block {
		width: 600px;
		padding: 50px 0px 0px 0px;
	}
}

@media screen and (min-width: 768px){
    .large-card{
        height: 400px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-header {
        background-color: #e8e8e7;
    }
    .wide-form-box {width: 100% !important;}
    #top-menu li {
        padding: 4px  0px 8px 0px;
    }
    .mb85mobile {
        margin-bottom: 85px !important;
    }
    .landing-search-block {
        width: 550px;
    }
    #headerSection {
        height: auto;
     }
    #navbar {
        border-top: solid 0.2px #fff;
        background-color: #e8e8e7;
    }
    .grid-item--width2 {
        width: 300px;
    }
    .grid-item--large {
        width: 300px;
        height: 200px;
    }
    .mt125{
        margin-top: 110px;
    }
}

@media screen and (max-width: 620px) {
	.landing-search-block {
		width: 400px;
	}
	.landing-content {
		width: 310px;
	}

}

@media screen and (max-width: 420px) {
	.landing-search-block {
		width: 300px;
	}
    .landing-title {
        font-size: 1.78rem;
    }
    .mt125 {
        margin-top: 120px;
    }
}

@media screen and(min-width:500px) {
    .no-content {
        display: none !important;
    }
    .listing-title {
        margin-left: 90px;
    }
    .listing-info {
        margin-left: 90px;
    }
    .listing-headline {
        text-align: left;
    }
    .listing-salary {
        margin-left: 7px;
    }
}
