$color_main: #11AFA2;
$font_color: #4d4d4d;
$BRAND_MENU_BG: #e5e5e5;
$background: #e5e5e5;
$color_main_hover: #11AFA2;
$color_action: #DD6E42;
$color_accent: rgba(54, 57, 66, 0.75);
$white: #ffffff;
$black: #000;
$gray: #d3d3d3;
$green: #28a745;

$main-font: Rubik, sans-serif;

@mixin center-bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

html, body {
    background-color: $background;
    height: 100%;
    color: $font_color;
    font-family: "Rubik", sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


a {
  color: $color_main;
  text-decoration: none;
/* -webkit-transition: .25s;
          transition: .25s;*/
  }

a:hover, a:focus {
  color: $color_action;
  text-decoration: none;
  }

a:focus {
  outline: none;
  }

li {
    list-style-type: none;
}

th {
    font-weight: 500;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

.inline-block{
  display: inline-block;
}

.btn {
    font-size: 1rem;
    min-height: 40px;
}

.btn:focus {
    box-shadow: none;
}

.btn-primary {
    color: $white;
    background-color: $color_main;
    opacity: 0.85;
    border: none !important;
  }

.btn-primary:hover,
.btn-primary.hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: $white;
    background-color: $color_main;
    border-color: $color_main;
    opacity: 1;
    border: none !important;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background: $color_main;
    border-color: $color_main;
    opacity: 1;
    border: none !important;
}

.btn-outline-primary{
  color: $color_main;
  background-color: transparent;
  background-image: none;
  border-color: $color_main;

}

.btn-outline-primary:hover,
.btn-outline-primary.hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-outline-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: $white;
    background-color: $color_main;
    border-color: $color_main;
    opacity: 1;
    border: none !important;
}

.btn-action {
    color: $white;
    background-color: $color_action;
    opacity: 0.85;
    border: none;
}

.btn-outline-action{
    color: $color_action;
    background-color: transparent;
    border-color: $color_action;
}

.btn-action:hover,
.btn-action:active{
    opacity: 1;
}


.btn-outline-action:hover,
.btn-outline-action:active{
    color: $white;
    background-color: $color_action;
}

.btn-outline-action:active:focus{
    box-shadow: 0 0 0 0.2rem #dd6e428a;
}


.btn-outline-gray{
    color: $font_color;
    background-color: transparent;
    border-color: $font_color;
}

.btn-outline-gray:hover,
.btn-outline-gray:active{
    color: $white;
    background-color: $font_color;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-bold {
  font-weight: 500;
}

#hint_id_featured, #hint_id_looking, #hint_id_marketing_consent {
  display: block;
}

.landing-logo{
  width: 50px;
  margin: 0;
}

// NAVBAR STYLES

.navbar-default {
    min-height: 50px;
    background-color: $white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    .navbar-nav > li > a {
        color: $color_main !important;
    }
}

.navbar-container{
  max-width: 1000px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.navbar-logo {
    height: 40px;
    margin: 0;
}

#nav-search {
    border-right: 0;
    margin-right: auto;
    margin-left: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#navSearchButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

li .dropdown-item {
    color: $white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(17,175,162,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav > li > .dropdown-menu {
    background-color: $color_accent;
    border: solid 1px $color_accent;
    -moz-border: solid 1px $color_accent;
    -webkit-border: solid 1px $color_accent;
}

.navbar-nav > li > .dropdown-menu li{
    border-bottom: solid 1px $white;
}

.navbar-nav > li > .dropdown-menu li:last-child{
    border-bottom: none;
}


// MAIN CONTENT
.wrapper {
    flex: 1 0 auto;
}

.content {
    margin-top: 30px;
    background-color: $background;
    max-width: 1000px;
}

.card {
    box-shadow: 0 2px 2px 0 gray;
    margin-bottom: 20px;
    border: 0;
}
/*
.card:hover,
.card:active,
.card:focus {
    box-shadow: 4px 8px 8px 0 gray;

}
*/

label {
    font-weight: 500;
}

.form-control, input[type="text"] {
    min-height: 40px !important;
    display: inline-block;
}

.form-control:focus{
    box-shadow:none;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
    color: $color_main;
}

.save-button {
    text-align: center;
}

.tag {
    background-color: $color_main;
    color: $white;
    float: left;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

#CookielawBanner {
  background-color: rgba(20,20,20,0.8);
  min-height: 26px;
  font-size: 14px;
  color: $white;
  line-height: 26px;
  padding: 8px 0 8px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  p{
    vertical-align: middle;
    line-height:20px;
  }
  a.btn {
    min-height: 0;
  }
}

// Jobs Page
.search-box {
    background-color: $white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 gray;
}

.search-query {
    border-bottom: 1px solid $background;
    margin-bottom: 10px;
    width: 100%;
}

.jobsSearch {
    height: 50px;
    min-width: 200px;
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 0 10px;
    border-radius: 5px;
    border: none;
    box-shadow: none;
}

.job-card {
    padding: 10px;
}

#filter-icon {
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

#active-filters {
    display: inline-block;
    min-height: 40px;
}

.active-filter {
    background-color: $color_main;
    color: $white;
    float: left;
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 10px;
}

.filter-panel{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: $color_main;

}

.btn-filter{
  background-color: $color_main;
  color: $white;
  width: 125px;
  border-radius: 0;
}

#mobileFilterBtn {
  width: 100%;
  margin-bottom: 20px;
}

.btn-group-vertical{
  width: 100%;
}

.badge-action {
  color: $white;
  font-size: 100%;
  background-color: $color_action;
  font-weight: 400;
}

.job-mobile {
    padding: 10px;
    background-color: #fff;
}

.job-mobile-title {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin-bottom: 5px;
}

.job-detail {
    color: $font_color;
    text-align: left;
    margin-bottom: 5px;
}

.recommendation-title {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5px;
}

.featured-job{
  background-color: $color_action;
  color: $white;
  padding: 0.3rem 1.25rem;
}

.listing-logo{
  width: 75px;
  height: 75px;
  float: left;
  margin-left: 5px;
  border-radius: 5px;
  line-height: 75px;
}

.listing-logo img {
  width: 100%;
  vertical-align: middle;
}

.dropdown-toggle:hover>.dropdown-menu {
  display: block;
}

.listing-title {
    padding-bottom: 2px;
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 90px;
    /*white-space: nowrap;*/
}

.listing-info {
    color: $font_color;
    font-size: 13px;
    margin-top: 5px;
    margin-left: 90px;
}

.listing-type {
    text-transform: uppercase;
    font-size: 15px;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}

.listing-salary {
    padding: 7px;
    color: $white;
    text-align: center;
    background-color: $color_main;
}

.listing-desc {
    padding: 10px 15px 10px 5px;
    color: $font_color;
    font-size: 13px;
    opacity: 0.9;
}

#dropdownMenuSalary {
  min-width: 350px;
  padding: 50px;
}

.keep-open{
  width:80px;
}

.filters-container{
  background-color: $color_main !important;
  border: 0 !important;
  span {
      color: $white !important;
  }
}

.filter-panel .select2{
    background-color: transparent !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: $white transparent transparent transparent!important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  background-color: $color_main !important;
  border: 1px solid $color_main !important;
  color: $white !important;
  span {
    color: $white !important;
  }
}

.select2-container{
  min-width: 0 !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $white transparent!important;
}



.select2-dropdown {
  min-width: 200px;
}

#dropdownMenuSkills {
  padding: 20px;
}

.noMP {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 10px !important;
}
.go-top:hover {
  color: #39b6b3;
  text-decoration: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

// Job Listing Page
.job-info-label{
  font-weight: 500;
  //text-decoration: underline;
  margin-bottom: 3px;
}

.jobpage-card{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.jobpage-title{
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.btn-apply{
  padding: 0 40px;
  font-size: 1.1rem;
  margin: 20px auto;
}

.django-ckeditor-widget{
  display: block !important;
}

.share-icon{
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

// Applicant Applications Page
.table-parent {
    background-color: $white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 gray;
}

.my-application {
    max-width: 400px;
    margin: 0 auto 15px auto;
    padding: 10px 0 10px 20px;
}

// Applicant Page
.applicant-name{
  font-size: 24px;
  text-align: center;
}

.applicant-role{
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

// Blog Page
.post {
  padding: 2rem;
}

// Company Page

.company-hero{
  margin-bottom: 20px;
}

.company-background{
  height: 220px;
  position: relative;
  text-align: center;
  background-size: cover;
  margin-top: -30px;
  margin-left: -15px;
  margin-right: -15px;
}

.company-page-title{
  margin-top: 20px;
  margin-bottom: -20px;
  position: relative;
  top: -50px;
}

.company-info{
  text-align: center;
  background-color: $white;
  padding:0 20px 20px 20px;
  box-shadow: 0 2px 2px 0 #808080;
}

.company-logo-wrapper {
  border-radius: 5px;
  position: relative;
  line-height: 80px;
  background-color: $white;
  top: -50px;
  padding: 5px;
  display: inline-block;
  border: 1px solid $gray;

    img {
      width:100%;
      max-width: 80px;
      max-height: 80px;
    }
}

.benefit {
  margin-top: 20px;
  font-size: 14px;
}

.subscribe-form{
  text-align: center;
  max-width: 400px;
}

// Dashboard Page
.dashboard-card {
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: center;
    background-color: $white;
    margin-bottom: 30px;
    padding-bottom: 10px;
    box-shadow: 0 2px 2px 0 gray;
    height: 175px;
    position: relative;
}

.dashboard-card-head{
    font-weight: 500;
    font-size: 18px;
    color: $white;
    padding: 10px;
    margin-bottom: 10px;
}

.bg-main {
    background-color: $color_main;
}

.bg-action {
    background-color: $color_action;
}

.bg-dark {
    background-color: $font_color;
}

.dashboard-content {
    padding: 2px 20px;
}

.dashboard-button {
    @include center-bottom;
}

.btn-add-job{
    width: 158px;
    font-size: 16px;
}

.btn-purchase {
    color: $white;
    width: 158px;
    font-size: 16px;
    background-color: $color_action;
    border: none;
    opacity: 0.85;
}

#dashboardCredits {
    font-size: 20px;
    margin-top: 10px;
}

.btn-purchase:hover, .btn-purchase:active {
    opacity: 1;
    color: $white;
}

.dashboard-job {
    padding: 0
}

.dashboard-job-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.active {
    color: $white;
    font-size: 16px;
    padding: 0.5rem 1.25rem;
    background-color: $color_main;
}

.inactive {
    color: $white;
    font-size: 16px;
    padding: 0.5rem 1.25rem;
    background-color: $font_color;
}

.btn-dash {
    margin-left:30px;
}


.small-box {
  font-size: 18px;
  height: auto;
}

.salary-skill-row{
  border: 1px solid gray;
  padding: 1rem;
}

.salary-skill{
  border: 1px solid gray;
}

// Company Applications page

.limiter {
  width: 100%;
  margin: 20px auto;
}

.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table100 {
  width: 960px;
  border-radius: 5px;
  overflow: hidden;
}

.app-table {
  width: 100%;
  display: table;
  margin: 0;
}

.apps-header{
  color: $white;
  background: $color_main;
  border-radius: 5px;
}

.app-row {
  display: table-row;
  background: $white;
}

.app-row.header {
  color: $white;
  background: $color_main;
}

.cell {
  display: table-cell;
}

.app-row .cell {
  font-size: 15px;
  color: $font_color;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.app-row.header .cell {
  font-size: 18px;
  color: $white;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.app-row .cell:nth-child(1) {
  padding-left: 20px;
}

.table, .app-row {
  width: 100% !important;
}

.mt11 {
  margin-top: 11px;
}

// Companies List
.company-search{
  max-width: 180px;
  margin-right: 5px;
}

// Credits Page
.price-position{
  display: inline-block;
  float: right;
}

.purchase-card{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.credits-number {
  max-width: 150px;
  margin-bottom: 15px;
}

.price-box {
  background-color: $color_main;
  color: $white;
  height: 50px;
  width: 100px;
  vertical-align: center;
  line-height: 50px;
  margin: 15px auto;
}

.pricing-img{
  height: 35px;
  margin-top: 5px;
}
// Accounts Pages
.small-card{
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 20px;

  p, li {
  color: $font_color;
  }

}

.btn-free{
  line-height: 1;
  min-height: 30px;
}

#id_login, #id_password, #id_oldpassword, .form-group > #id_password1, #id_password2 {
  width: 250px;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  min-height: 40px;
  display: inline-block;
}

.reg-benefits{
  display: inline-block;
  vertical-align: middle;
}

.underline {
  border-color: $color_main;
  border-bottom: 2px solid;
}

// Font Awesome Icons
.list-fa, .info-fa {
    color: $color_main;
    margin: 0px 5px 0px 5px;
}

.footer-fa {
    color: $white;
    margin-right: 7px;
}

.search-fa {
    color: $white;
}

.social-fa {
    color: $color_main;
    margin: 0px 3px 0px 2px;
}

// Salary Landing Page
.landing-headline {
  text-align: center;
  font-size: 2.5rem;
  color: $color_main;
}
.landing-subheadline {
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: $color_main;
}

.btn-landing{
  padding: 10px 30px;
  font-size: 1.3rem;
  font-weight: 500;
  display: block;
  margin: 30px auto;
}

.salary-image{
  max-width: 75%;
  margin: auto;
  display:block;
}

.landing-info{
  margin-bottom: 30px;
}

.landing-headline-side{
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 40px;
  color: $color_main;
}

.landing-subheadline-side{
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.landing-salary-image{
  height: 260px;
  margin: 0 auto;
  display: block;
}


.steps-image{
  height: 140px;
}


// FOOTER STYLES

.footer {
    flex-shrink: 0;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

.footer-roof {
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: $white;
}

.footer-link {
  margin-right: 10px;
}

.footer-social, .footer-text {
  text-align: center;
  color: $white;
  opacity: 0.95;
}

.footer-social {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}
// Media Queries
@media (min-width: 1200px){
    #nav-search{
        width: 350px;
    }
}


@media (max-width:900px){
    #nav-search, #navSearchButton{
        display: none;
    }
}


@media (max-width:768px){
  .navbar-container{
      flex-wrap: wrap;
  }
  .steps-image{
    height: 120px;
  }
  .landing-headline-side{
    font-size: 1.5rem;
  }
  .landing-subheadline-side{
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .app-row.header {
    padding: 0;
    height: 0px;
  }

  .app-row.header .cell {
    display: none !important;
  }

  .app-row .cell:before {
    font-size: 13px;
    color: $font_color;
    line-height: 1.2;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
  .cell {
    display: block !important;
  }
  .app-row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .app-row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .app-row .cell:nth-child(1) {
    padding-left: 30px;
  }

  .app-row .cell {
    font-size: 18px;
    color: $font_color;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .app-table, .app-row, .cell {
    width: 100% !important;
  }

  .list {
    width: 100%;
  }
}

@media (max-width:576px){
  .btn-dash {
      margin-left:20px;
  }
  .active-filter {
    margin-top: 5px;
  }
  .jobpage-title{
    text-align:center;
  }
  .company-background{
    height:150px;
  }
  .company-logo-wrapper{
    line-height: 65px;
    img{
      max-width:65px;
      max-height:65px;
    }
  }
  #dropdownMenuSalary{
    min-width: 300px;
  }
  .landing-headline{
    font-size: 1.6rem;
    margin-bottom: 30px;
  }
  .landing-subheadline{
    font-size: 1.2rem;
  }
  .btn-landing{
    font-size: 1rem;
  }
  .landing-salary-image{
    height: 190px;
  }
  .steps-image{
    height: 120px;
  }
}

@media (max-width:370px){
  .steps-image{
    height: 100px;
  }
  .landing-headline{
    font-size: 1.3rem;
  }
  .landing-subheadline{
    font-size: 1rem;
  }
}

