{% load i18n %}

<div id="CookielawBanner">
    <div class="container">
        <p>
            <a class="btn btn-primary pull-right" href="javascript:Cookielaw.createCookielawCookie();">{% trans "COOKIE_INFO_OK" %}</a>
            Our site uses Cookies. You can remove all cookies at any time from your browser.
        </p>
    </div>
</div>
